<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1"><meta http-equiv="content-type" content="text/html; charset=utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript" src="http://10290886.collect.igodigital.com/collect.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<!--[if gte IE 9]>
  <style type="text/css">.gradient {filter: none;}</style>
<![endif]-->
<style type="text/css">
body{font-size:22px !important;background-color:#000000 !important;}
.green{color:#198956 !important;}
.red{color:#e40c0c !important;}
.roboto{font-family:Roboto Condensed;}
.shadowtex, h1, h2, h3, h4t{text-shadow: 0px 1px 1px #000000;filter: dropshadow(color=#000000, offx=0, offy=1);}
img{border:none;max-width:100%;}
.shadow{-webkit-box-shadow:  0px 15px 20px -10px #454545;box-shadow:  0px 15px 20px -10px #454545;}
.center, h1, h2, h3, h4{margin:15px auto;text-align:center;}
h2{line-height:1.3em !important;}
body, .font-size-medium{font-size:20px !important;line-height:26px !important;color#242424 !important;}
h1{font-size:300% !important;font-family:Roboto Condensed;font-weight:bold !important;line-height: 1em;}
h2{font-size:200% !important;font-family:Roboto Condensed;font-weight:bold !important;color:#242424 !important;line-height:1em !important;}
p{margin:15px 25px;}
a.bluelink, a.bluelink:visited{font-weight:medium;color:#180dff !important;text-decoration:underline !important;font-size:16px !important;}
ul, ol {margin-left:50px;}
ul li, ol li{margin-bottom:20px;}
#dashedPurchaseBox {
    background-color: #FFFFCC;
    border-collapse: collapse;
    border-color: #D70305;
    border-style: dashed;
    border-width: 3px;
    font-size: 100%;
    line-height: 1em;
    margin: 0 auto;
    padding: 20px;
    width: 70%;
}
#dashedPurchaseBox h3 {
    font-size: 145% !important;
    line-height: 1.2em !important;
}
#dashedPurchaseBox h2 {
    font-size: 150% !important;
}
.sf_colsOut{max-width:940px !important;}
</style><script type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script><script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script><meta name="Generator" content="Sitefinity 6.1.4600.0 SE" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><script type="text/javascript">
    (function() {var _rdDeviceWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;var _rdDeviceHeight = (window.innerHeight > 0) ? window.innerHeight : screen.height;var _rdOrientation = (window.width > window.height) ? 'landscape' : 'portrait';})();
</script><link href="http://access.revolutiongolf.com/Sitefinity/WebsiteTemplates/Multi_BG_Responsive/App_Themes/Multi_BG_Responsive/global/main.css?v=635380534662904128" type="text/css" rel="stylesheet" /><link href="http://access.revolutiongolf.com/Sitefinity/WebsiteTemplates/Multi_BG_Responsive/App_Themes/Multi_BG_Responsive/global/responsive.css?v=635344751110678248" type="text/css" rel="stylesheet" /><title>
    Sean Foley Bonus Offer
</title></head>
<body class="standard">
<!-- Google Tag Manager -->
<noscript><iframe src="http://www.googletagmanager.com/ns.html?id=GTM-KZQVG9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) {
w[l] = w[l] || []; w[l].push({
'gtm.start':
new Date().getTime(), event: 'gtm.js'
}); var f = d.getElementsByTagName(s)[0],
j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
'//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-KZQVG9');</script>
<!-- End Google Tag Manager -->
    <form method="post" action="sean-foley-bonus-offer" id="form1">
<div class="aspNetHidden">
<input type="hidden" name="ctl04_TSSM" id="ctl04_TSSM" value="" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTYzMDk2NjQ3MGRkFn5klH8QbMyEiBlYBoXeCpbRnnVtEGOJ7lW9qVTwGMw=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="http://access.revolutiongolf.com/WebResource.axd?d=s-XJfaBbouuciProW-xY8BE1gEG42ogphJrEII3OYHKyNLokFxap8vgUiVpDdZtQclFl5pJmmFYH9djKTy5V8Lpde0Ppuib9xCVhRKrS61s1&amp;t=635657941936658112" type="text/javascript"></script>


<script src="http://access.revolutiongolf.com/ScriptResource.axd?d=CmQZay4J-U8ZBZ1tF0ISeLXa6BpnZzrclFG_qa8mcuBq-Lo0mVdg0yJxRo0wBIy4VFzxSB3oGQ6Z_ncRqX67aQVsSBYVYzNK9rFjyHwdkav1N3uVtBCXJuHoU0JKjK7sUQDQEfKgiq8QncOnd7PrzVJfjeXlsy9EaiDXJoiDZrv8P7OriSAEzx9taVjBMy0i0&amp;t=5854e822" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="http://access.revolutiongolf.com/ScriptResource.axd?d=aUs7oyy1gVEVOvODv1SMo24zN-5bZu63oSoJbpOytarDGN2LaWIDPUztnxik6rjwsA7ogIxt_pDfCzZSCtxpAEPUEJCT1TuTSQb0e3LIx4WsxG3lNXGjrBF-NL6t1_BbW8ZjKGqKmR7TAI0fP0lWE9vJ_qguizQ9QjmT_q_vgYKI4GLuh-luDXgTFIiQSpj10&amp;t=5854e822" type="text/javascript"></script>
<div class="aspNetHidden">

    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="170ADC7F" />
</div>
    <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'form1', [], [], [], 90, 'ctl00');
//]]>
</script>

    <!-- #wrapper BEGIN -->
    <div id="wrapper">
    <!-- #header BEGIN -->
         <div id="header">
                  <div id="logo">
                  <img src="http://access.revolutiongolf.com/images/default-source/logos/rg-logo-white-flat-on-black.png?sfvrsn=2" alt="Revolution Golf" />
                  </div>
         </div>
    
    <!-- #header END -->
    
    <!-- #mainContent BEGIN -->
    <div id="mainContent">
        <div id="PublicWrapper" class="float-center  font-size-medium width980 line-height-big emptywrapper">
            <div id="placeholder_2" class="sf_cols placeholder_2">
                <div style="float: left; width: auto; margin: 0; " class="sf_colsOut">
                    <div style=" padding: 7px; " class="sf_colsIn">
                        
<div class='sfContentBlock'><p style="text-align: center;"><img style="vertical-align: middle;" title="red-wait-dont-hit-back-slim" src="http://access.revolutiongolf.com/images/default-source/basic-rg-pages/red-wait-dont-hit-back-slim.png?sfvrsn=0" /></p> <h1 style="text-align: center;"></h1>


</div><div class='sfContentBlock'><div style="width: 740px; height: 425px; margin: 0px auto;"> <div id="BCLcontainingBlock"> <div class="BCLvideoWrapper"> <div style="display: none;"></div> <object class="BrightcoveExperience shadow" id="myExperience4356533487001"> <param name="bgcolor" value="#FFFFFF"> <param name="width" value="100%"> <param name="height" value="416"> <param name="playerID" value="1079169075001"> <param name="playerKey" value="AQ~~,AAAAwFCxkJk~,_iYY0gwO8aLuSGcnG8EI2Hx0O7hLorGb"> <param name="isVid" value="true"> <param name="isUI" value="true"> <param name="dynamicStreaming" value="true"> <param name="autoStart" value="true"> <param name="@videoPlayer" value="4356533487001"> </object> </div> </div> </div>


</div><div class='sfContentBlock'><p style="text-align: center;">&nbsp;</p> <h1 style="text-align: center;"><span><span style="background-color: #ffff00;">Want to Improve </span><span style="background-color: #ffff00;">EVERY Part of Your Game?</span><br /> <br />
Want More Pro-Level Instruction from Sean Foley?<br /> <br />
Want to Save Over 67%?</span>&nbsp;</h1> <h1 style="text-align: center;">&nbsp; ...YES?</h1> <strong> <h2>Then Add These 3 Sean Foley Videos To Your Order ...</h2> </strong>


</div><div class='sfContentBlock'><img style="vertical-align: middle;" title="Optimized-RG_DigitalStreamingBillboard_Foley_OpenMindedGolf_052615 (1)" src="http://access.revolutiongolf.com/images/default-source/products/optimized-rg_digitalstreamingbillboard_foley_openmindedgolf_052615-(1).png?sfvrsn=0" /><br /> <br />


</div><div class='sfContentBlock'><h2> </h2> <h2>BONUS VIDEO #1 &hellip; PERFECT BALL STRIKING<span style="line-height: 1.2;"></span></h2>
The keys to hitting great shots from any lie &hellip; with irons, wedges, hybrids, and fairway woods. You&rsquo;ll make &ldquo;sweet spot&rdquo; contact in no time.<br /> <br /> <br />


</div><div class='sfContentBlock'><h2>BONUS VIDEO #2 &hellip; MYTHS AND MISUNDERSTANDINGS</h2>
Sean Foley breaks down common misconceptions and how they keep golfers from improving. This video will clear all the mental clutter out of your head forever.
<p>&nbsp;</p>


</div><div class='sfContentBlock'><h2>BONUS VIDEO #3 &hellip; PERFECT DRILLS</h2> <span style="line-height: 1.5;">Sean Foley covers the drills he recommends to his students. They&rsquo;re simple to understand &hellip; and simple to execute &hellip; and they make it easy to develop the muscle memory you must have to make great contact every time.</span> <div><br /> </div>


</div><div class='sfContentBlock'><br />
In these three videos, you&rsquo;ll discover &hellip;<br /> <br /> <ul> <li><span style="line-height: 1.5;">A surprising &ndash; even shocking &ndash; truth about the correct size of the shoulder turn.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The art and science of correctly hinging the wrists.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How the grip affects the takeaway.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">3 different ways to hinge the wrists.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why different golfers hinge the wrists in different ways.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The horizontal/neutral/diagonal positions.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The correct way to &ldquo;load&rdquo; the back leg for maximum power in the shot.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The one part of the pivot every golfer must have.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A correct definition of the shoulder turn and the hip turn.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">What a good pivot really feels like.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The myth about the &ldquo;big turn.&rdquo;</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How to determine the correct length of the shoulder turn.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How TV commentators often confuse golfers.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The new science of &ldquo;de-planing&rdquo; ... how it shows how Adam Scott and Jim Furyk swing differently but look exactly the same at impact.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why Sean Foley is part of the 1% of teachers who teach &ldquo;de-planing&rdquo; and why it&rsquo;s made him such a sought-after teacher.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Understanding the physics of impact and why golfers must understand the key concepts.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Ball flight de-mystified.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why face angle at impact is so vital.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The important concepts of &ldquo;Pressure Shift&rdquo; and &ldquo;Ground Reaction Force&rdquo; ... and the relationship to power for golfers of any size.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A full description of the EARTHQUAKE THAT STARTS THE TSUNAMI and why Sean Foley teaches the concept to his professional students like Justin Rose and Hunter Mahan.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Where the weight and balance should be at impact and at the top of the backswing ... it&rsquo;s NOT what you&rsquo;ve heard.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The easy way to make the &ldquo;power&rdquo; transition ... and the hard way.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How the correct transitioning helps golfers get into correct positions.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A clear and easy-to-understand description of swing plane &hellip; FINALLY!</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How to start the downswing and the vital role of the front hip.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">&ldquo;Incline Plane&rdquo; and why that&rsquo;s a key golf concept, not a skiing technique.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A precise description of perfect impact ... how to feel perfect impact ... and how to achieve perfect impact.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The &ldquo;sweep drill&rdquo; and how this can help golfers get into the perfect impact position ... regardless of what has happened before.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why the perfect finish position leads to perfect ball striking. Yes &ndash; it&rsquo;s backwards but it works.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How to achieve perfect balance at the finish.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why a good finish position is important for the back and shoulder muscles.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Misconceptions about the grip.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why each golfer needs a different grip and why no two grips on the PGA Tour are the same ... despite what you might have heard.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why it&rsquo;s important to get your hands measured &ndash; if you want a perfect grip.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The real reason it&rsquo;s a mistake to strengthen the grip to hit a draw.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The &ldquo;Gary Player&rdquo; drill ... and the real reason Player &ndash; at 5 feet 7 inches &ndash; generated big-time power.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How this drill gets the hips involved in the swing.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">An easy way to get off the back foot in the transition.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The &ldquo;Separation Drill&rdquo; and how this helps with weight shift.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How to achieve the correct sequencing in the golf swing.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The &ldquo;9 to 3&rdquo; drill and how it creates a feel for perfect impact in just 20 minutes a day.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A tour-proven way to keep from sliding in the swing ... and how to maintain an excellent pivot.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why correct posture is so vital and THE foundation of a great golf swing.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">And much much more ...</span></li> </ul>


</div><div class='sfContentBlock'><strong>SPECIAL EXTRA BONUS VIDEO &hellip; SEAN FOLEY&rsquo;S APPROACH TO GOLF &hellip; AND LIFE &hellip;</strong><br /> <br />
An exclusive and inspirational full-length interview with Sean Foley. He explains his approach to teaching &hellip; and what drives him to be the best teacher in the world. You&rsquo;ll gain a new appreciation for the game &hellip; and how to improve.<br /> <br />


</div><div class='sfContentBlock'><div id="dashedPurchaseBox"> <center> <p><img src="http://access.revolutiongolf.com/images/web-page-elements/novi-365-day-guarantee.png?sfvrsn=2" title="novi-365-day-guarantee" /></p> </center> <p>&nbsp;</p>
Of course &hellip; you&rsquo;re protected by the &ldquo;Rock-Solid Revolution Golf 100% 365 Day Guarantee.&rdquo;<br /> <br />
If you&rsquo;re not satisfied with any of these videos, you receive a complete refund &hellip; no questions asked.
<p><strong></strong></p> </div>


</div><div class='sfContentBlock'><strong><br /> <br />
Just $11.75 per video!&nbsp;</strong><br /> <br />
Click here now or click the button below for INSTANT ACCESS.<br /> <br /> <br />
THAT&rsquo;S OVER <strong>70% OFF</strong> THE RECOMMENDED PRICE<br /> <br />
This offer will NEVER be repeated &hellip; so you must act now.


</div><div class='sfContentBlock'><h2 class="center" style="text-align: center;">Add These Videos To Your Order&nbsp;</h2> <h2 class="center" style="text-align: center;">For A Special LOW Price...</h2> <div class="center" style="text-align: center;"><img src="http://access.revolutiongolf.com/images/default-source/special-offers/sean-foley-full-swing-training-upgrade-price-47.jpg?sfvrsn=0" title="sean-foley-full-swing-training-upgrade-price-47" style="vertical-align: middle;" /></div>

                    <div class='sfContentBlock'>
                        <div class="center" style="text-align: center;"><a href="https://store.revolutiongolf.com/Plugins/EventActivitiesFunnel/AcceptOffer/1415" onclick="reportGA('Accept-Offer');"  style="line-height: 1.5;"><img style="vertical-align: middle;" title="martin-add-order" src="http://access.revolutiongolf.com/images/default-source/martin-chuck/martin-add-order.png?sfvrsn=1" /></a><br /> </div>
                    </div>
                    <div class='sfContentBlock'>
                        <div style="text-align: center;"><span style="line-height: 1.5; font-size: 16px;"></span></div>
                        <div style="text-align: center;"><span style="line-height: 1.5; font-size: 22px;"></span></div>
                        <a onclick="reportGA('Decline-Offer');"  href="https://store.revolutiongolf.com/Plugins/EventActivitiesFunnel/DeclineOffer">
                            <div style="text-align: center;"><span style="line-height: 1.5; font-size: 22px;">No thanks. I understand once I leave this page</span></div>
                            <span style="font-size: 16px;">
                                <span style="font-size: 22px;"> </span> 
                                <div style="text-align: center;"><span style="line-height: 1.5; font-size: 22px;">I will never have this opportunity again - and I won't be able to do this later.</span></div>
                                <div style="text-align: center;"><span style="line-height: 1.5; font-size: 22px;">By clicking on this link, I waive my right to this special offer forever.</span></div>
                            </span>
                        </a>
                        <span style="font-size: 16px;">
                            <div style="text-align: center;"><span style="line-height: 1.5; font-size: 22px;"></span></div>
                        </span>
                        <span style="font-size: 16px;">
                            <div style="text-align: center;"><span style="line-height: 1.5;"></span></div>
                        </span>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<!-- #mainContent END -->
		
		





                <div class="ei_modal_wrapper" id="keep_watching_1" style="display: none;">
                    <div class="ei_modal ">
                        <div class="ei_close" onclick="exitIntentClose('keep watching 1');">&times;</div>
                        <div class="ei_content">
                            <div class="ei_header">
                                WAIT!!! &nbsp; Before you go...
                            </div>
                            <div class="ei_header_2">
                                You have a one-time special offer
                                <br />
                                waiting for you at the end of this video!
                            </div>
                        </div>
                        <!-- end of ei_content -->
                        <div style="margin: 42px auto;"><a href="#" onclick="exitIntentNext('watch','watch btn'); return false;">
                            <img alt="Keep Watching" src="http://coaches.revolutiongolf.com/images/keep_watching.png" style="border-style: solid;" /></a> </div>
                        <div><a href="#" onclick="exitIntentNext('keep_watching_2','watch: no thanks'); return false;">No Thanks, I'm not Interested</a> </div>
                    </div>
                    <!-- end of ei_modal -->
                </div>
                <!-- end of ei_modal_wrapper -->

            </div>


    <!-- Hardcoded Begin -->
    <div id="footer">
        <div id="innerFooter">
            <div id="footerMenu">
                <nav class="nav">
                    <ul class="nav-list">
                        <li><a href="https://www.revolutiongolf.com/@rg/standard-pages/about-rg" target="_blank">About</a></li>
                        <li><a href="https://www.revolutiongolf.com/@rg/contact-us" target="_blank">Contact Us</a></li>
                        <li><a href="https://www.revolutiongolf.com/@rg/faq" target="_blank">FAQ</a></li>
                        <li><a href="https://www.revolutiongolf.com/@rg/terms-of-service" target="_blank">Terms Of Service</a></li>
                        <li><a href="https://www.revolutiongolf.com/@rg/privacy-policy" target="_blank">Privacy Policy</a></li>
                    </ul>
                </nav>
            </div>
            <div id="copyRight">© 2015 RevolutionGolf.com</div>
        </div>
    </div>
    <!-- end #footer -->
    <div style="clear: both;"></div>

    </div><!-- end #wrapper -->
    <!-- Hardcoded End -->
    </div>

    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>
    <script src="http://coaches.revolutiongolf.com/js/checkoutdata_oct_2014.js"></script>
    <script src="http://coaches.revolutiongolf.com/js/checkout_1_page_opp.js?c=2"></script>
	

    <script type="text/javascript">
	
function reportGA(myChoice)
{
  if(typeof dataLayer != 'undefined')
  {
    dataLayer.push({
      'event':'sendVPV',
      'vpv':window.location.pathname+'/'+myChoice
    });
    dataLayer.push({
      'event': 'sendEvent',
      'eCategory': 'Upsell',
      'eAction': 'decision',
      'eLabel': myChoice
    });
  }
}

/* ####### PAGE Javascript ########*/
var bcWorking = false;

$(document).ready(function(){
    if(typeof getQueryArgs()['opp'] != undefined)
    {
        if(getQueryArgs()['opp'] == 1)
        {
            PreventExitSplash = "true";
            $("#pausedNote").hide();
            $("#buyNow").fadeIn('slow',buyButtonVisibleToggle('buy'));
            $("#mainProgressBar").hide();
        }
    }
});

function getQueryArgs() {
    // get the current URL
    var url = window.location.toString();
    //get the parameters
    url.match(/\?(.+)$/);
    var params = RegExp.$1;
    // split up the query string and store in an
    // associative array
    params = params.split("&");
    var queryStringList = {};

    for (var i = 0; i < params.length; i++) {
        var tmp = params[i].split("=");
        queryStringList[tmp[0]] = unescape(tmp[1]);
    }

    // print all querystring in key value pairs
    return queryStringList;
}


function redirectToCart() {
    var queryArgs = getQueryArgs();
    var pvid = queryArgs['pvid'];
    if (pvid === "" || pvid === undefined) {
        pvid = "714";
    }
    var url = "https://store.revolutiongolf.com/SpecialOffer/ProductVariant?email=" + queryArgs['email'] + "&id=" + pvid;
    window.open(url);
}

function getUrl(url) {
    var pvid = getQueryArgs()['pvid'];
    if (pvid === "" || pvid === undefined) {
        pvid = "767";
    }
    return url + '?email=' + getQueryArgs()['email'] + '&pvid=' + pvid;
}

function getSummaryPage(url) {
    //var pvid = getQueryArgs()['pvid'];
    //if( pvid == "" || pvid == undefined){pvid="767";}
    return url + '?email=' + getQueryArgs()['email'] + '&pvid=869';
}

function redirectToNext(url) {
    disableExitPop = true;
    var newurl = url + '?email=' + getQueryArgs()['email'] + '&pvid=870';
    window.location.href = newurl;
}

navigator.sayswho = (function() {
    var ua = navigator.userAgent,
        tem,
        M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*([\d\.]+)/i) || [];
    if (/trident/i.test(M[1])) {
        tem = /\brv[ :]+(\d+(\.\d+)?)/g.exec(ua) || [];
        return 'IE ' + (tem[1] || '');
    }
    M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
    if ((tem = ua.match(/version\/([\.\d]+)/i)) !== null) M[2] = tem[1];
    return M;
});


    function setProgress() {
        var imageSources = null;
        var srcUrl = 'http://coaches.revolutiongolf.com/images/process-panel-';
        if (viewModel.shippingAddressEnabled()) {
            srcUrl += 'physical-';
            imageSource = {
                billingAddress: srcUrl + 's1.png',
                shippingAddress: srcUrl + 's2.png',
                billingInfo: srcUrl + 's3.png',
                orderSummary: srcUrl + 's4.png',
                confirmOrder: srcUrl + 's5.png'
            };

        } else {
            srcUrl += 'digital-';
            imageSource = {
                billingAddress: srcUrl + 's1-nos.png',
                billingInfo: srcUrl + 's2-nos.png',
                orderSummary: srcUrl + 's3-nos.png',
                confirmOrder: srcUrl + 's4-nos.png'
            };
        }
        $('#progressBar').attr('src', imageSource[viewModel.currentStep()]);
    }

    function onStepChanged(step) {
        switch (step) {
            case 'billingAddress':
                onBillingAddress();
                break;
            case 'shippingAddress':
                onShippingAddress();
                break;
            case 'billingInfo':
                onBillingInfo();
                break;
            case 'orderSummary':
                onOrderSummary();
                break;
            case 'confirmOrder':
                onConfirmOrder();
                if (typeof dataLayer != 'undefined') {
                    dataLayer.push({
                        'event': 'sendVPV',
                        'vpv': window.location.pathname + '/OPP_' + step
                    });
                }
                break;
            default:
                break;
        }
        //       engagementLevel = 'Started OPP';
        //       upsertEl(engagementLevel);
        setProgress();
        //scroll(0,$('#checkoutForm').offset().top - 315);
    }

    function onBillingAddress() {

        $(document).scrollTop($('#billingAddress').position().top - 100);
    }

    function onShippingAddress() {

        $(document).scrollTop($('#shippingAddress').position().top - 100);
    }

    function onBillingInfo() {

        $(document).scrollTop($('#billingInfo').position().top - 180);
    }

    function onOrderSummary() {

        $(document).scrollTop($('#orderSummary').position().top - 100);
    }

    function onConfirmOrder() {
        disableExitPop = true;
        PreventExitSplash = true;
    }

    function onCheckoutInitialized(e) {
        var br = navigator.sayswho();
        if (br[0] == 'MSIE') {
            if (Number(br[1]) < 10)
                $('label.legacy').show();
        }
        setProgress();
    }




/* ### END PAGE JAVASCRIPT ### */


/* ######### Brightcove Video ######## */

var player;
var videoPlayerModule;
var experienceModule;
var cuePointsModule;
var currentVideo;
var APIModules;
var button;
var buyButtonVisible;
var pauseButtonVisible;
var showPause;
var PreventExitSplash = "false";
var playPauseBtn;
var videoOverlay;
var pauseActivated = "false";

function videoLoaded(id) {
    player = brightcove.api.getExperience(id);
    APIModules = brightcove.api.modules.APIModules;
    //console.log("videoloaded");
}

function onTemplateReady(event) {
    videoPlayerModule = player.getModule(APIModules.VIDEO_PLAYER);
    cuePointsModule = player.getModule(APIModules.CUE_POINTS);
    cuePointsModule.addEventListener(brightcove.api.events.CuePointEvent.CUE, onCue);        
    videoPlayerModule.addEventListener(brightcove.api.events.MediaEvent.STOP, onMediaEventFired);
    videoPlayerModule.getCurrentVideo(onGetCurrentVideoResult);    
 
    var videoPlayerWait = parseFloat((Date.now() - pageLoadStart) / 1000).toFixed(1) + " Sec";
    if (logToGa) {
        logToGa("Video Start", videoPlayerWait);
    }
}

function onGetCurrentVideoResult(video) {
    currentVideo = video;
    //cuePointsModule.getCuePoints(currentVideo.id);
    cuePointsModule.getCuePoints(currentVideo.id, cuePointsHandler);
}

function cuePointsHandler(cuePoints) {
    // Display existing cue points
    //displayExistingCuePoints(cuePoints);
}

function onMediaEventFired() {
    //pauseActivated == "true"
    showButton();
    //console.log("onMediaEventFired");
}

function buyButtonVisibleToggle(button) {
    if (button == "pause") {
        pauseButtonVisible = "true";
    }
    if (button == "buy") {
        buyButtonVisible = "true";
    }
}

function showButton() {
    if (buyButtonVisible != "true" && pauseButtonVisible != "true" && pauseActivated == "true") {
        //pauseButtonVisible="true";
        PreventExitSplash = "true";
        $("#pausedNote").fadeIn('slow', buyButtonVisibleToggle("pause"));
        $('html,body').animate({
            scrollTop: $("#pausedNote").offset().top - 300
        }, 'slow');
    } else if (buyButtonVisible != "true" && pauseButtonVisible == "true") {
        //pauseButtonVisible="false";
        PreventExitSplash = "true";
        disableExitPop = true;
        //$("#pausedNote").hide();
        $('html,body').animate({
            scrollTop: $("#myExperience").offset().top - 25
        }, 'slow');
    } else if (buyButtonVisible == "true" && pauseButtonVisible == "true") {
        $("#pausedNote").hide();
        PreventExitSplash = "true";
        disableExitPop = true;
        $('html,body').animate({
            scrollTop: $("#buyNow").offset().top - 300
        }, 'slow');
    } else {
        return;
    }
}

function onCue(event) {

    var theCue = event.cuePoint.name;
    if (theCue !== undefined) {
        //console.log(theCue);
        switch (theCue) {
            case "Show Hidden Page Element":
				bcWorking = true;
                PreventExitSplash = "true";
                $("#pausedNote").hide();
                $("#mainProgressBar").hide();
                $("#buyNow").fadeIn('slow', buyButtonVisibleToggle('buy'));
                if (typeof dataLayer != 'undefined') {
                    dataLayer.push({
                        'event': 'sendVPV',
                        'vpv': window.location.pathname + '/OPP-visible'
                    });
                }
                engagementLevel = 'Finished VSL';
                upsertEl(engagementLevel);
                break;

            case "Product Intro":
				bcWorking = true;
                if (typeof dataLayer != 'undefined') {
                    dataLayer.push({
                        'event': 'sendVPV',
                        'vpv': window.location.pathname + '/VSL-product-intro'
                    });
                }
                engagementLevel = 'Saw Product Intro';
                upsertEl(engagementLevel);
                break;

            case "Pause Activation":
				bcWorking = true;
                $("img").trigger('unveil');
                //console.log("pauseActivated");
                pauseActivated = "true";
                break;

            case "Fix Viewed":
				bcWorking = true;
                engagementLevel = 'Saw Swing Fix';
                upsertEl(engagementLevel);
                break;

        }
    }
}
/* ######### Brightcove Video ######## */

/************ Engagement Level ************/
var eLevels = new Array(8);
eLevels[0] = 'Opt-In';
eLevels[1] = 'Saw Swing Fix';
eLevels[2] = 'Saw Product Intro';
eLevels[3] = 'Finished VSL';
eLevels[4] = 'Saw OPP';
eLevels[5] = 'Started OPP';
eLevels[6] = 'Purchased';
eLevels[7] = 'Purchased Upsell';

var engagementLevel = 'Opt-In';
var activeFocus = null;

$(document).ready(function() {
    //update engagement
    //upsertEl(engagementLevel);

    //update if OPP visible
    $(window).on("scroll", buyVisible);

    if (eLevels.indexOf(readCookie('el')) > 2) {
        PreventExitSplash = "true";
        $("#pausedNote").hide();
        $("#buyNow").fadeIn('slow', buyButtonVisibleToggle('buy'));
        $("#mainProgressBar").hide();
    }
});


function buyVisible() {
    var windowTop;
    var windowBottom;
    var elemTop;

    if ($('#checkoutForm').is(':visible')) {
        windowTop = $(window).scrollTop();
        windowBottom = windowTop - 0 + $(window).height();
        elemTop = $('#checkoutForm').offset().top;
        if (elemTop < windowBottom) {
            engagementLevel = 'Saw OPP';
            upsertEl(engagementLevel);
        }
    }
}

function upsertEl(eLevel) {
    var eUpdate = true;
    var curLevel = readCookie('el');
    var tURL = 'https://tourstrikertraining.revolutiongolf.com/api/Engagement/Level';
    var mURL = 'https://mcleangolf.revolutiongolf.com/api/Engagement/Level';
    var tURL = 'https://coaches.revolutiongolf.com/api/Engagement/Level';
    var uEmail = getQueryArgs()['email'];

    if (curLevel != 'null') {
        if (eLevels.indexOf(eLevel) <= eLevels.indexOf(curLevel)) {
            //don't update the engagement level
            eUpdate = false;
        }
    }
    if (eUpdate) {
        //keep engagement level for 12 days after furthest engagement
        createCookie('el', eLevel, 12);
        var gaFocus = '';

        if (eLevels.indexOf(eLevel) == 3) {
            activeFocus = document.hasFocus();
            gaFocus = ' Focused:' + activeFocus;
        }
        if (eLevels.indexOf(eLevel) == 5) {
            gaFocus = ' Was Focused:' + activeFocus;
        }

        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'Engagement',
                'eAction': 'Level',
                'eLabel': eLevel + gaFocus + ' B'
            });
        }

        $.ajax({
            url: tURL,
            type: "POST",
            data: {
                Email: uEmail,
                Engagementlevel: eLevel
            },
            dataType: "json"
        }).done(function(data) {
            if (data.success === true) {
                //everything worked
            } else {
                //all other scenarios are a failure, tell GA
                if (typeof dataLayer != 'undefined') {
                    dataLayer.push({
                        'event': 'sendEvent',
                        'eCategory': 'Engagement',
                        'eAction': 'Error',
                        'eLabel': 'Upsert Engagement Level Not Success'
                    });
                }
            }
        }).error(function() {
            if (typeof dataLayer != 'undefined') {
                dataLayer.push({
                    'event': 'sendEvent',
                    'eCategory': 'Engagement',
                    'eAction': 'Error',
                    'eLabel': 'Upsert Engagement Level Failed'
                });
            }
        });
    }
}

function createCookie(name, value, days) {
    var date, expires;
    if (days) {
        date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
    } else expires = "";
    document.cookie = name + "=" + value + expires + "; path=/";
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}

function eraseCookie(name) {
    createCookie(name, "", -1);
}
/************ End Engagement Level **************/


/************ Exit Intent ***************/
//$(document).on('mouseleave', exitIntent);
var disableExitPop = false;
var exitIntentSeen = false;
var surveyShown = false;
var keepWatchingShown = false;
var cartAbandonmentShown = false;

function exitIntent(e) {
    //if the user exits the top of the screen, show popup
    if (e.clientY < 10) {
        exitIntentShow();
    }
}

function exitIntentShow() {
    var eLevel = readCookie('el');
    var exitShown = 'default';
    if (eLevel == 'Opt-In' && surveyShown === false) {
        $('.BrightcoveExperience').css('visibility', 'hidden');
        $('.ei_bg_overlay').show();
        $('#survey_1').show(400, 'swing');
        exitShown = 'survey';
        surveyShown = true;
        exitIntentSeen = true;
        videoPlayerModule.pause();
    } else if ((eLevel == 'Saw Swing Fix' || eLevel == 'Saw Product Intro') && keepWatchingShown === false) {
        $('.BrightcoveExperience').css('visibility', 'hidden');
        $('.ei_bg_overlay').show();
        $('#keep_watching_1').show(400, 'swing');
        exitShown = 'keep watching';
        keepWatchingShown = true;
        exitIntentSeen = true;
        videoPlayerModule.pause();
    } else if ((eLevel == 'Saw OPP' || eLevel == 'Finished VSL') && cartAbandonmentShown === false) {
//        $('.BrightcoveExperience').css('visibility', 'hidden');
//        $('.ei_bg_overlay').show();
//        $('#cart_abandonment').show(400, 'swing');
//        exitShown = 'cart_abandonment';
//        cartAbandonmentShown = true;
//        exitIntentSeen = true;
//        videoPlayerModule.pause();
    } else {
        if (exitIntentSeen === false) {
            $('.BrightcoveExperience').css('visibility', 'hidden');
            $('.ei_bg_overlay').show();
            $('#survey_1').show(400, 'swing');
            exitShown = 'default:survey';
            exitIntentSeen = true;
            videoPlayerModule.pause();
        }
    }
    //tell GA
    if (typeof dataLayer != 'undefined') {
        dataLayer.push({
            'event': 'sendEvent',
            'eCategory': 'VSL',
            'eAction': 'Exit Pop',
            'eLabel': exitShown + ' Shown ' + eLevel
        });
    }
}

function exitIntentClose() {
    $('.BrightcoveExperience').css('visibility', 'visible');
    $('.ei_bg_overlay').hide();
    $('.ei_modal_wrapper').hide();
    videoPlayerModule.pause(false);
    var eLevel = readCookie('el');
    //tell GA
    if (typeof dataLayer != 'undefined') {
        dataLayer.push({
            'event': 'sendEvent',
            'eCategory': 'VSL',
            'eAction': 'Exit Pop',
            'eLabel': 'X Closed ' + eLevel
        });
    }
    return false;
}

function surveyResponse(myResponse) {
    var eLevel = readCookie('el');

    $('.ei_modal_wrapper').hide();
    $('#survey_2').show(400, 'swing');

    if (typeof dataLayer != 'undefined') {
        dataLayer.push({
            'event': 'sendEvent',
            'eCategory': 'VSL',
            'eAction': 'Survey',
            'eLabel': myResponse + ' ' + eLevel
        });
    }
    return false;
}

function exitIntentNext(nextStep, clickLabel) {
    var eLevel = readCookie('el');
    if (nextStep == 'summary') {
        //show summary page
        var summaryPage = getSummaryPage('https://tourstrikertraining.revolutiongolf.com/training/tourstriker-training-summary-opp');
        window.location.href = summaryPage;
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': 'summary ' + clickLabel + ' ' + eLevel
            });
        }
    } else if (nextStep == 'watch') {
        //keep watching
        $('.BrightcoveExperience').css('visibility', 'visible');
        $('.ei_bg_overlay').hide();
        $('.ei_modal_wrapper').hide();
        videoPlayerModule.pause(false);
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': clickLabel + ' ' + eLevel
            });
        }
    } else if (nextStep == 'keep_watching_2') {
        //show keep_watching_2
        $('.ei_modal_wrapper').hide();
        $('#keep_watching_2').show(400, 'swing');
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': clickLabel + ' ' + eLevel
            });
        }
    } else if (nextStep == 'show_form') {
        //scroll to the OPP form
        $('.BrightcoveExperience').css('visibility', 'visible');
        $('.ei_bg_overlay').hide();
        $('.ei_modal_wrapper').hide();
        scroll(0, $('#spc').offset().top - 20);
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': clickLabel + ' ' + eLevel
            });
        }
    } else if (nextStep == 'done') {
        //close the popup
        $('.BrightcoveExperience').css('visibility', 'visible');
        $('.ei_bg_overlay').hide();
        $('.ei_modal_wrapper').hide();
        videoPlayerModule.pause(false);
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': clickLabel + ' ' + eLevel
            });
        }
    }
    return false;
}
/************ End Exit Intent ***************/


	
	
        var logToGa = function (action, label) {
            action = typeof action !== 'undefined' ? action : 'Error';
            label = typeof label !== 'undefined' ? label : 'Something happened somewhere';
            if (typeof dataLayer !== undefined) {
                //console.log("action: " + action + " label:" + label);
                dataLayer.push({
                    'event': 'sendEvent',
                    'eCategory': 'VSL',
                    'eAction': action,
                    'eLabel': label
                });
            }
        };
        var timingInfo = performance.timing;
        window.onload = function () {
            setTimeout(function () {
                logToGa("TimingAPI Page Load", parseFloat((timingInfo.loadEventEnd - timingInfo.responseEnd) / 1000).toFixed(1) + " Sec");
                logToGa("Page Load", parseFloat((Date.now() - pageLoadStart) / 1000).toFixed(1) + " Sec");
                logToGa("Network Latency", parseFloat((timingInfo.responseEnd - timingInfo.fetchStart) / 1000).toFixed(1) + " Sec");
            }, 0);
        }
        var pageLoadWait = parseFloat((Date.now() - pageLoadStart) / 1000).toFixed(1) + " Sec";
        logToGa("Page Bottom", pageLoadWait);
/**********make the upsell buttons only clickable 1x***********/		
$(function(){
	
	var aTags = $('a');
	aTags.each(function(){
		var href = $(this).attr('href');
		
		if(href.indexOf('store.revolutiongolf.com') > -1) {
			$(this).addClass('rg_golf_store_link');
		}
	});

	$('.rg_golf_store_link').one('click', function(){
		$(this).click(function () { return false; });
		$(this).css(
			{display: 'block',
			textDecoration: 'none',
			fontSize: '30px', 
			lineHeight: '1.5', 
			overflow: 'hidden'}
		);
		
		$(this).empty();

		$(this).append('<div class="prvdblclck_pro">Processing...</div>');
		$(this).append('<div class="prvdblclck_img"><img src="http://coaches.revolutiongolf.com/Controls/SurveyOnPage/images/loading.gif"></div>');
		$('.prvdblclck_pro').css({
			lineHeight: '53px',
			float: 'left',
			marginLeft: '35%'
		});
		$('.prvdblclck_img').css('float', 'left');
		$('.prvdblclck_img img').css('width', '75%');
	});

});

		
    </script>

</body>
</html>

