<%@ Page Language="C#" %>
<%@ Register TagPrefix="uc" TagName="BribeFixPlayer" Src="~/Controls/BribeFixPlayer/BribeFixPlayer.ascx" %>
<!DOCTYPE html>
<html>
<head>
    <title>Your #1 Consistency Killer Eradicated</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">

    <link href="//coaches.revolutiongolf.com/css/reset.css" rel="stylesheet" />
    <link href="//coaches.revolutiongolf.com/css/base.css" type="text/css" rel="stylesheet" />
    <link href="//coaches.revolutiongolf.com/css/vslmain.css" type="text/css" rel="stylesheet" />
    <link href="//coaches.revolutiongolf.com/css/vsl.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript">
                 var pageLoadStart = Date.now();
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//coaches.revolutiongolf.com/js/json2.js"></script>

    <script type="text/javascript" src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>
    
    <link href="//coaches.revolutiongolf.com/images/favicon.ico" type="image/x-icon" rel="shortcut icon"/> 
    <style>

	#buyNow {
		overflow: hidden;
	}
    .main_content {
        width: 990px;
        margin: 0 auto;
        background: #fff;
    }

    #innerFooter{
        overflow: hidden;
    }
    .headline {
        font-size: 20px;
    }
    #spc h2 {
        margin: 0 auto;
		font-size: 28px;
		color: #000;
		text-shadow: none;
    }
    ul {
         padding: left: 30px;
    }
	#spc #product_desc {
		padding: 14px 20px;
	}

    /******** brightcove ********/
    #BCL_containingBlock {
      width: 50%;
      margin-left: 10px;
      margin-bottom: 10px;
      float: right;
    }
    .BCL_videoWrapper {
      position: relative;
      padding-top: 1px;
      padding-bottom: 56.25%;
      height: 0;
    }
    * html .BCL_videoWrapper {
      margin-bottom: 45px;
      margin-top: 0;
      width: 100%;
      height: 100%;
    }
    .BCL_videoWrapper div,
    .BCL_videoWrapper embed,
    .BCL_videoWrapper object,
    .BrightcoveExperience {
      position: relative;
      width: 720px !important;
      height: 405px !important;
      left: 0;
      top: 0;
    }
	.mobile {
		display: none;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		margin-top: 0; 
		color: #c00000; 
		font-size: 35px; 
		font-weight: bold; 
		line-height: 48px;
		text-shadow: 0px 1px 1px #000;
	}
	.post_vsl {
		text-align: left; 
		margin: 20px 54px 0; 
		font-size: 20px;
		line-height: 28px;
	}
	.post_vsl ul {
		list-style-type: disc;
		padding: 0 20px;
		margin: 0 20px;
	}
	.post_vsl ul li {
		padding: 0px 0px 16px;
	}
/***** tablet ******/
@media screen and (max-width: 950px) {
    body {
        background: #fff;
        font-size: 20px;
    }
    .main_content {
        width: 100%;
    }
    .inner_content {
        padding: 0 5%;
    }
    .break {
        display: none;
    }
    #footer #footerMenu {
        display: none;
    }
    .sale_header {
        font-size: 30px !important;
        line-height: 33px !important;
    }
    .sale_header_sub {
        font-size: 24px !important;
        margin-top: 12px !important;
    }
    .BCL_containingBlock {
        width: 95% !important;
    }
    .BCL_videoWrapper div,
    .BCL_videoWrapper embed,
    .BCL_videoWrapper object,
    .BrightcoveExperience {
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      left: 0;
      top: 0;
    }
	#checkoutBox {
		margin-top: 0 !important;
	}
	.progress_box {
		margin: 0 !important;
		padding: 0 !important;
	}
	.content_block {
		padding: 0 5% !important;
	}
	.call_now {
		padding: 20px 10% !important;
	}
	#pausedNote {
		display: block !important;
	}
	.hero_img {
		padding: 0px !important;
	}
	#price_header {
		width: auto !important;
	}
	
	.product_collage {
		width: 100% !important;
	}
}
/***** mobile ******/
@media screen and (max-width: 550px) {
    
	.content_block {
		padding: 0 5% !important;
		float: none !important;
	}
	.product_image {
		width: auto !important;
		float: none !important;
	}
	.product_info {
		width: auto !important;
		float: none !important;
	}
	.testimonials {
		width: auto !important;
	}
	.testimonials p {
		text-align: center !important;
	}
	.call_now {
		padding: 20px 5% !important;
	}
	
	
	#spc h2 {
		font-size: 22px;
		margin-top: 10px !important;
	}
	#spc {
		width: 100% !important;
		max-width: 480px;
	}
	#spc #radio_btn {
		height: 160px !important;
	}
	#spc #product_radio_desc {
		font-size: 16px;
		padding-right: 10px;
	}
	#spc #billingAddress div, 
	#spc #shippingAddress div, 
	#spc #billingInfo div {
		width: 96% !important;
		max-width: 474px !important;
	}
	
	#spc .input_override input, 
	#spc .input_override label, 
	#spc .input_override select {
		position: relative !important;
		top: 0px !important;
		left: 0px !important;
	}
	#spc #first_name.form_input {
		padding: 6px !important;
	}
	#spc #first_name.form_input input {
		width: 96% !important;
	}
	#spc div.form_input {
		padding: 6px !important;
	}
	#spc .input_override select, 
	#spc .input_override input {
		width: 96% !important;
	}
	#spc input[type="text"], 
	#spc input[type="email"], 
	#spc select {
		width: 96% !important;
	}
	#spc #phone_number {
		padding: 10px !important;
	}
	#spc #checkoutForm .form_input label.error {
		position: relative !important;
		right: 0 !important;
		top: 0 !important;
		width: 96% !important;
		display: block;
	}
	#spc .non-mobile {
		display: none;
	}
	.mobile {
		display: block;
	}
}

    </style>
</head>
<body class="standard">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZQVG9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZQVG9');</script>
<!-- End Google Tag Manager -->
<!-- Google Code for Opt-in Conversions (new) Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970780368;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "uDsiCI3M1lwQ0N3zzgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970780368/?label=uDsiCI3M1lwQ0N3zzgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<div class="wrapper">
    <div class="main_content">
        <div class="inner_content">
            <h2 style="margin-top: 0; color: #c00000; font-size: 35px; font-weight: bold; line-height: 40px;">
				Watch This Video NOW If You're Ready for More Power&hellip; And Laser-Like Accuracy Off The Tee&hellip;
			</h2>
           <div style="width: 80%; margin: 0px auto; text-align: center;" class="BCL_containingBlock">
                <div class="BCL_videoWrapper">
                    <div style="display: none;"></div>
                <div class="BCLcontainingBlock">
                    <div class="BCLvideoWrapper">
						<object id="myExperience4316937312001" class="BrightcoveExperience">
						  <param name="bgcolor" value="#FFFFFF" />
							<param name="width" value="720" />
							<param name="height" value="402" />
							 <param name="playerID" value="4317867599001">
							 <param name="playerKey" value="AQ~~,AAADNTbl-Fk~,6mhEzlah8lyi86HIYXoPCqo-3Gg9WWTW">
                            <param name="isVid" value="true">
                            <param name="isUI" value="true">
							 <param name="secureConnections" value="true">
							 <param name="secureHTMLConnections" value="true">
                            <param name="dynamicStreaming" value="true">
							 <param name="autoStart" value="true">
                            <param name="includeAPI" value="true">
                            <param name="templateLoadHandler" value="videoLoaded">
                            <param name="templateReadyHandler" value="onTemplateReady" />
                            <param name="@videoPlayer" value="4360061604001">
                        </object>
                        <script type="text/javascript">brightcove.createExperiences();</script>
                    </div>
                </div>
					
                </div>
            </div>
            <!-- end BCLcontainingBlock -->


            <div style="margin: 10px auto; padding-top: 15px; text-align: center;" class="progress_box">
                <img alt="" style="max-width: 68%;" src="//coaches.revolutiongolf.com/images/process-panel-step3.png" id="mainProgressBar"  />
            </div>


                <div id="buyNow" style="clear: both; display: none;">
                    <div style="margin: 20px auto;" id="checkoutBox">
					<!-- Begin Content Area -->

					<div class='sfContentBlock'>
							<div style="text-align: center;"> 
								<h1>I Was Watching Tour Pros Smash Long Drives &hellip; And I Noticed Something Really Crazy &hellip;
								</h1>
							</div> 
							<div style="text-align: center;"> 
								<h1>
									&hellip; Something that Helped Me Hit 
									<span style="text-decoration: underline;">The Longest Drives Of My Life</span>&nbsp;... 
									Right Down the Middle of the Fairway &hellip; Time and Time Again &hellip;
								</h1>
							</div>

					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl"> 
							<br /> <br />
							A couple of years ago, I had a big problem.<br /> <br /> 
							<img src="https://access.revolutiongolf.com/images/default-source/common-images/bad-golf-shot.jpg?sfvrsn=0" title="bad-golf-shot" width="300" height="201" style="float: right; margin-left: 15px;" />
							I was hitting the ball EVERYWHERE with my driver. Rough &hellip; Trees &hellip; 
							Fairway Bunkers &hellip; Hazards. Plus I was barely hitting the ball 200 yards.
							<br /> <br />
							No good!<br /> <br />
							So I went as a fan to the PGA Championship in Kohler, Wisconsin. I was sitting there at Whistling Straits, on a Wenesday, in the stands. My goal?
							<br /> <br />
							Watch the pros and figure out how to fix my driving. Quite frankly, I was desperate
							to get my driver sorted out. My driving was so bad I was thinking about giving up the game.
							<br /> <br />
							Serious stuff. Fortunately &hellip;
							<p>&nbsp;</p> 
							<h2 style="text-align: center;">
								I Spotted Something EXTREMELY Important &hellip; 
								Something that Transformed My Game &hellip;
							</h2>
							<img src="https://access.revolutiongolf.com/images/default-source/martin-chuck/trackman-box-shot.jpg?sfvrsn=0" title="trackman-box-shot" width="300" height="240" style="float: left; margin-right: 15px;" />
							<!-- Added in "their" to line 381. Needs to be changed on all sites -->
							So I&rsquo;m watching the pros hit their driver. And I made a couple of observations.
							<br /> <br />
							<strong>1.</strong> There were all these great players out on the range and NONE of them had the same swing. 
							<br /> <br />
							Some of them had a short swing &hellip; Some of them had a long swing.
							Some of them took the club outside &hellip; Some of them took the club inside.
							Some of these guys were young right out of college and some were grizzly old veterans.
							<br /> <br /> 
							But they all had a beautiful, high, towering trajectory to their drives.
							<br /> <br />
							<strong>2.</strong> The other thing I noticed &hellip; was a 
							small box next to each player. The box was about the size of a laptop. And every player had one.
							<br /> <br />
							After each shot, the player and the caddy would look at the small box. I had to find out what 
							they were using.
							<br /> <br />
							I asked one of the caddies &hellip; &ldquo;What&rsquo;s the box?&rdquo;
							<br /> <br />
							&ldquo;It&rsquo;s called a TrackMan launch monitor and everyone&rsquo;s using it.&rdquo;
							<br /> <br />
							I had to find out more.
							<br /> <br />
							TrackMan is really a radar &hellip; like the one used on missiles. It measures all the 
							key data in a swing &hellip; look at the data and you can quickly figure out what&rsquo;s 
							happening at impact &hellip; the moment of truth.
							<br /> 
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<div style="text-align: center;"><img src="https://access.revolutiongolf.com/images/default-source/martin-chuck/radar-range-closeC2AB97CD7691.jpg?sfvrsn=0" title="Radar-range-close" style="line-height: 1.5; vertical-align: middle;" /></div>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<div style="margin-top: -20px;">
								<p>&nbsp;</p>
								Right then, I decided I would find a teacher who knew how to use TrackMan &hellip; a teacher who would take the data and help me &ldquo;rediscover&rdquo; the hidden golfer &hellip; the one who could launch the ball straight down the middle 275 yards.<br /> <br />
								So that&rsquo;s how I met &hellip;
								<h2 style="text-align: center;">
									Sean Foley &hellip; The Teacher &hellip;
									Who Helped Me Bomb My Drives Again&nbsp;
								</h2>
							</div>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
						<!-- 
							********************************************************************************************************************************************************

							*********************************************** JARED SWAP OUT THIS PICTURE FOR A GOOD SEAN FOLEY PICTURE **********************************************

							********************************************************************************************************************************************************
							 -->
							<div style="text-align: center;"><img src="http://mymentalgamecoach.com/wp-content/uploads/2014/12/sean-foley1.jpg" title="sean-foley-1-labeled" style="line-height: 1.5; vertical-align: middle;" />
							<!-- ********************************************************************************************************************************************************** -->
							</div>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<div style="margin-top: -20px;">
								<p>&nbsp;</p>
								Sean Foley is one of the hottest young teachers in the United States.<br /> <br />
								He taught Tiger Woods for 5 years. Today, he teaches Justin Rose, and Hunter Mahan. Plus he teaches Julieta Granada on the LPGA Tour. Granada is not the tallest woman on tour but she smacks it. And she&rsquo;s accurate, hitting 82.97% of her fairways.<br /> <br />
								Remember &hellip; Justin Rose won the U.S. Open at Merion where the fairways are insanely narrow &hellip;
								and the rough is the deepest and nastiest you&rsquo;ll find anywhere. Sean Foley 	
								helped Justin Rose hit the ball long and straight.<br /> <br />

								<h2 style="text-align: center;"><span style="color: #C00000;"> Sean Foley&rsquo;s Approach to Teaching Golf is Different &hellip; VERY Different</span></h2> </div> </div>


								</div><div class='sfContentBlock'><div class="post_vsl"> <div style="margin-top: -20px;"> <p>&nbsp;</p>
								Most golf teachers teach a method. They have a &ldquo;system&rdquo; they try to place on each golfer.<br /> <br />
								That&rsquo;s NOT the case with Sean Foley. He takes a very different &ndash; even radical &ndash; approach to teaching.<br /> <br />
								
								You don&rsquo;t have to make radical changes to your swing. You don&rsquo;t have to be super-fit. You don&rsquo;t have to have tour-level talent. You simply have to be open minded and willing to experiment.<br /> <br />	

								Sean believes in helping each golfer find THEIR swing. He believes &hellip;</div><ul> <li><span style="line-height: 19px;">Every golfer is different mentally and physically.</span></li> <li><span style="line-height: 19px;">Golfers improve fastest when they find their own swing instead of being told what to do &hellip; or become &ldquo;programmed&rdquo; like a robot.
								<br /> 
								</span></li> <li><span style="line-height: 19px;">Any golfer of any size can smack the ball.</span></li> <li><span style="line-height: 19px;">Improvement starts by dispelling common myths.
								<br /> 
								</span></li> <li><span style="line-height: 19px;">Power comes from a certain part of the body &hellip; a part that&rsquo;s commonly misunderstood.
								<br />
								</span></li> <li><span style="line-height: 19px;">Golfers need clarity &hellip; they&rsquo;re usually too confused.<br /> </span></li> <li><span style="line-height: 19px;">Under-coaching is almost always better than over-coaching.
								<br /> 
								</span></li> </ul> <div>Based on his work with the world&rsquo;s top golfers &hellip; and with tens of thousands of ambitious amateurs, Foley has discovered how to help any golfer maximize their distance &hellip; and hit the ball laser-straight every time.
								<br /> <br /> 
								So it was no surprise when I had &hellip;
								<p>&nbsp;</p>
							</div>
							<div style="text-align: center;">
								<h2>The Greatest Lesson Ever</h2>
							</div>
							I organized a lesson with Sean Foley. Sean looked at my swing then set up TrackMan.<br /> <br />
							He started to look at the actual numbers from my swing.<br /> <br />
							No guesswork &hellip; just pure physics.<br /> <br />
							And then Sean recommended some changes based on the data he received from TrackMan.
							<br /> <br />
							Yes &ndash; it took some practice time at the range to make these changes.
							<br /> <br /> 
							<img src="https://access.revolutiongolf.com/images/default-source/common-images/golf-power.jpg?sfvrsn=2" title="golf-power" width="400" height="222" style="float: right; margin-left: 15px;" />
							But once I incorporated the changes into my swing here&rsquo;s what I got &hellip;
							<br /> <br /> 
							<ul>
								<li><span style="line-height: 19px;">Over 275 yards off the tee</span></li>
								<li><span style="line-height: 19px;">In the fairway almost every drive<br /> </span></li>
								<li><span style="line-height: 19px;">No more visits to the hazards, sand and 0B</span></li>
								<li><span style="line-height: 19px;">Huge confidence in any conditions on every course<br /> </span></li>
							</ul>
							<div>
								A complete and total transformation.<br /> <br />
								After that one lesson, I thought &hellip;<br /> <br /> 
								<div style="text-align: center;">
									<h2>Revolution Golfers Will Love Sean Foley&rsquo;s &ldquo;Bomb It&rdquo; Approach to Driving the Ball &hellip;</h2>
								</div>
								I was so impressed with Sean Foley that I instantly added him to the Revolution Golf faculty.
								A few months ago, we filmed a special video series with Ean. We called it &hellip; very simply &hellip; <strong>Sean Foley on Driving The Ball.</strong><br /> 
							</div>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<br /> <strong>
							Sean Foley on Driving The Ball</strong> is a video where Sean Foley shows you the &ldquo;modern&rdquo; approach to consistency &hellip; based on data from TrackMan &hellip; used by thousands of professional touring golfers.<br /> <br /> 


							<!-- 
							********************************************************************************************************************************************************

							***************************************************** JARED PHOTO SHOP OUT THE PRICE ON THIS PICTURE ***************************************************

							********************************************************************************************************************************************************
							 -->

							<img src="https://access.revolutiongolf.com/images/default-source/special-offers/sean-foley-on-driving-the-ball-price.jpg?sfvrsn=0" title="sean-foley-distance" style="vertical-align: middle;" />
							<!-- ******************************************************************************************************************************************************** -->
							<br /> <br />

							Here&rsquo;s what you&rsquo;ll discover in <strong>Sean Foley on Driving The Ball.</strong><br /> <br /> 
							<ul> <li><span style="line-height: 1.5;">The science of long and accurate driving ... based on TrackMan research.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A full description of the EARTHQUAKE THAT STARTS THE TSUNAMI and why Sean Foley teaches the concept to his professional students like Justin Rose and Hunter Mahan.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How to start the backswing. 3 different ways to make sure the first 18 inches of the swing are perfect &hellip; a key to consistency.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A little-known truth about the body pivot as it applies to the driver.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">What the pivot is really all about.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The correct way to &ldquo;load&rdquo; the back leg for maximum power with the driver.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A correct definition of the shoulder turn and the hip turn.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The one key to creating tons of torque for maximum distance.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A surprising &ndash; even shocking &ndash; truth about the correct size of the shoulder turn.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Understanding the physics of impact and why golfers must understand the key concepts.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The important concepts of &ldquo;Pressure Shift&rdquo; and &ldquo;Ground Reaction Force&rdquo; ... and the relationship to power for golfers of any size.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Where the weight and balance should be at impact and at the top of the backswing ... it&rsquo;s NOT what you&rsquo;ve heard.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The easy way to make the &ldquo;power&rdquo; transition ... and the hard way.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">A precise description of perfect impact ... how to feel perfect impact ... and how to achieve perfect impact.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The &ldquo;sweep drill&rdquo; and how this can help golfers get into the perfect impact position ... regardless of what has happened before.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why the perfect finish position leads to perfect ball striking. Yes &ndash; it&rsquo;s backwards but it works.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Misconceptions about the grip.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why each golfer needs a different grip and why no two grips on the PGA Tour are the same ... despite what you might have heard.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The &ldquo;Gary Player&rdquo; drill ... and the real reason Player &ndash; at 5 feet 7 inches &ndash; generated big-time power.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The keys to a center strike right in the sweet spot &ndash; a vital key for accuracy and distance.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">How to start the downswing.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The power of the gear effect and what this means for golfers who want to maximize power.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">The surprising role of spin in driver distance.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">Why weight shift is more about pressure than weight.</span></li> <li><span style="line-height: 1.5;"></span><span style="line-height: 1.5;">And much more.<br /> <br /> </span></li> </ul>
							<br /> <strong>
							Sean Foley on Driving The Ball</strong> is like a private lesson with Sean Foley. As soon as you see the video, you&rsquo;ll be practicing at home then rushing to the range and bombing it.
						</div>
					</div>

							<div style="text-align: center;"> <h2><span style="color: #C00000;">
							14 Ways Sean Foley on Driving the Ball <br /> Will Help You Enjoy The Best
							Driving of Your Life<br /> </span></h2> </div> 
							<ol style="font-size: 20px; padding: 0 0 0 40px;"> 
						<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal; "><span ><strong>MAXIMIZE YOUR DISTANCE</strong> off the tee by generating power from your strongest muscles &hellip; and not relying on 
							hands and arms. <br /> <br /> </span></li> 
						<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Experiment intelligently</strong> so you discover YOUR swing.<br /> <br /> </span></li> 
						<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Finally discover how to start the backswing the correct way</strong> &hellip; this will help you develop robotic
							 consistency and confidence.<br /> <br /> </span></li> 
						<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Get the biggest misconceptions out of your head </strong>&hellip; and your game.<br /> <br /> </span></li> 
						<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > Discover the truth about body pivot so you stop swaying &hellip; and <strong>maximize power from the torso.<br /> <br /> 
							</strong></span></li> 

						<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Learn how to get acceleration and torque into your game </strong>&hellip; so you hit powerful drives every time.<br />
							<br /> </span></li> 

						<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Never over-turn and over-swing again</strong> so you benefit from a compact and repeatable swing.<br /> <br /> </span>

							</li> 

						<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span ><strong>Gain balance and control</strong> by understanding key concepts like &ldquo;Pressure Shift&rdquo; and &ldquo;Ground 

							Reaction Force.&rdquo;<br /> <br /> </span></li> 

						<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Dramatically improve tempo, timing, accuracy, and power</strong> but understanding Sean Foley&rsquo;s unique concept of

							 THE EARTHQUAKE THAT STARTS THE TSUNAMI ... and why Sean Foley teaches this to his professional students like Justin Rose and Hunter Mahan.<br /> <br /> </span></li>

							 <li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Get rid of a slice and/or hook</strong> and remove those &ldquo;look away awful&rdquo; shots.<br /> <br /> </span></li>

							 <li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Enjoy sweet spot contact</strong> by understanding what center contact is all about ... and exactly where you need to 

							 strike the golf ball.<br /> <br /> </span></li> 
							
							<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Finally discover how to gain correct posture</strong> &hellip; and why that&rsquo;s important for driving the ball.
							<br /> 
							<br /> </span></li> 
							<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Generate power from the hips and core muscles</strong> &hellip; a great way to add golf horsepower.<br /> <br /> 
							</span></li> 
							<li style="margin-bottom: 20px; line-height: 26px; display: list-item; list-style: decimal;"><span > <strong>Improve your consistency</strong> by overcoming 7 consistency killers.<br /> </span></li> 
							</ol>

							<div style="font-size: 20px; text-align: left;">
							<h2 style="text-align: center;"><span style="color: #C00000;">Let&rsquo;s End the Confusion and Find YOUR Driver Swing &hellip; A Personal Message from Sean Foley</span></h2>
							I&rsquo;m really excited to be part of the Revolution Golf family. The biggest reason? It&rsquo;s an opportunity to help you improve and enjoy the best golf of your life. This platform will help me help you drive the ball superbly every time you tee it up.<br /> <br />
							The instruction in <strong>Sean Foley on Driving The Ball</strong> is the same instruction top professionals like Tiger Woods, Justin Rose, and Hunter Mahan get. In the last 3 years my students have been extremely successful.<br /> <br />
							One thing about my teaching that&rsquo;s important &hellip; I&rsquo;m NOT trying to produce robots who all play the same way. We&rsquo;re all different &hellip; so the goal of my instruction is to help YOU find YOUR driver swing.<br /> <div><br /> </div> <img src="http://access.revolutiongolf.com/images/default-source/people/sean-driving-2.png?sfvrsn=0" title="Sean Driving 2" style="vertical-align: middle;" />


							</div>
							<div class='sfContentBlock' style="font-size: 20px; text-align: left;"><br />
							In <strong>Sean Foley on Driving The Ball </strong>you will discover new techniques based on over 15 years teaching top professionals &hellip; but also beginners, high handicappers, college students &hellip; and everyone in between.<br /> <br />
							Watch the video &hellip; experiment &hellip; and in a short period you will start to improve &hellip; and if you don&rsquo;t, the Revolution Golf guarantee means you get your money back.<br /> <br />
							You&rsquo;ll gain distance, power, PLUS accuracy &hellip; just watch <strong>Sean Foley on Driving The Ball.<br /> </strong>


							</div>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<div style="text-align: center;">
								<h2>Golfers Rave About The Sean Foley Approach</h2>
							</div>
							<blockquote>
								<div style="text-align: center;"><strong style="line-height: 1.5;"><span style="font-size: 28px;">&ldquo;I FINALLY FIGURED IT OUT THANKS TO SEAN FOLEY!&rdquo;</span></strong></div>
								<br /> <span style="font-size: 11px;"><span style="font-size: 18px;"><em><span style="font-size: 18px;">&ldquo;I was fortunate to be in Orlando for the filming of Sean Foley on Driving The Ball. I was also taking notes like crazy. During the filming &hellip; while Sean was talking about his approach to the game, I was thinking, &ldquo;what I&rsquo;m hearing is totally and completely different.&rdquo;<br />
								Quite frankly I couldn&rsquo;t wait to get back to try Sean&rsquo;s concepts. After about 15 minutes of experimenting, I started to hit really solid shots.<br />
								All the instruction I&rsquo;ve heard has focused on one part of the body for power. 
								Sean focuses on another part of the body. This approach has ended my confusion and I can&rsquo;t wait to play a lot more this season.<br /> <br >
								Sean Foley on Driving The Ball is really like a private lesson with Sean Foley.&rdquo;</span></em> </span><br /> </span> <br /> <strong>- Scott, North Carolina.</strong><br /> <br /> 
							</blockquote>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<h2 style="text-align: center;">
								Special LOW LOW Price Only for Today ...
								But Hurry ...
							</h2>
							Sean Foley gets $1,000 a day for individual lessons. And I&rsquo;ve shown <strong>Sean Foley on Driving The Ball</strong> to my friends. They&rsquo;ve told me I could charge at least $500 for the instruction.<br /> <br />
							I&rsquo;m not going to charge $1,000 or $500 for <strong>Sean Foley on Driving The Ball</strong>.<br /> <br />
							Initially, I thought about charging $50 &hellip; the same price as a premium box of golf balls.<br /> <br />
							But then I thought, &ldquo;I want to make <strong>Sean Foley on Driving The Ball</strong> available to as many passionate golfers as possible. After all, at 
							<!-- Added in "our" and appropriate commas after "at Revolution Golf" on line 613. Needs to be changed on all sites  --> 
							Revolution Golf, our goal is to help as many golfers as possible, enjoy the game as much as possible.<br /> <br />
							So &hellip; for an extremely limited time &hellip; I&rsquo;m making <strong>Sean Foley on Driving The Ball</strong> available for:<br /> 
							<div><br /> </div>
							<strong>JUST $17</strong><br /> <br /> <a href="javascript:scroll(0, $('#spc').offset().top - 20);">Click here now</a> or click the button below.<br /> <br />
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<center> <img src="https://access.revolutiongolf.com/images/default-source/special-offers/sean-foley-on-driving-the-ball-price.jpg?sfvrsn=0" title="sean-foley-on-driving-the-ball-price" style="vertical-align: middle;" /> </center>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<div class="center"><br /> </div>
							<div class="center" style="text-align: center;"><a href="javascript:scroll(0, $('#spc').offset().top - 20);" ><img alt="" src="https://access.revolutiongolf.com/images/default-source/buttons/2014-order-now.png?sfvrsn=4" /></a></div>
							<div class="center"></div>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<div style="text-align: center;">
								<h2>Get Instant Access &hellip; Improve Your Driving Today!</h2>
							</div>
							<strong>
							Sean Foley on Driving The Ball</strong> is delivered by streaming video. As soon as you complete your order ... you can access the videos on your computer, laptop, tablet, or smart phone.<br /> <br />
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<p>And, of course, <strong>Sean Foley on Driving The Ball&nbsp;</strong>is protected by&hellip;</p>
							<div id="dashedPurchaseBox">
								<div class="center"><img alt="" src="https://access.revolutiongolf.com/images/web-page-elements/novi-365-day-guarantee.png?sfvrsn=2" /></div>
								<p>Revolution Golf provides one of the strongest guarantees anywhere. You get 365 days to decide if <strong>Sean Foley on Driving The Ball&nbsp;</strong>helps you. If you&rsquo;re not happy for any reason, or no reason, simply call The Revolution Golf customer service team at 888-388-7155 and you&rsquo;ll receive a prompt and courteous refund.</p>
								<p><strong>That&rsquo;s right&hellip;if my instruction does not help you hit &ldquo;sweet spot&rdquo; shots time after time, you get your money back. No questions asked. We&rsquo;re completely backing up the promises I&rsquo;m making on this web page.</strong></p>
							</div>
							<h2 style="text-align: center;">
								BIG-TIME Confidence &hellip; Or No Confidence &hellip;
								The Choice is Yours &hellip;
							</h2>
							Now you have a simple decision to make. You can hit modest and mediocre drives that go pretty much anywhere. Or you can BOMB THE BALL right down the middle of the fairway &hellip; with help from <strong>Sean Foley on Driving The Ball</strong>. I know I made the right decision.<br /> <br />
							I listened to Sean Foley and now I&rsquo;m piping it right down the middle &hellip; at least 275 every time.<br /> <br />
							Golf&rsquo;s a different game when that&rsquo;s happening.<br /> <br />
							Gain access to this &ldquo;modern&rdquo; teaching right now for the special introductory price of just $27. It&rsquo;s a &ldquo;no-brainer&rdquo; bargain. And if you&rsquo;re not completely satisfied, you get a full and complete refund.<br /> <br />
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<center> <img src="https://access.revolutiongolf.com/images/default-source/special-offers/sean-foley-on-driving-the-ball-price.jpg?sfvrsn=0" title="sean-foley-on-driving-the-ball-price" style="vertical-align: middle;" /> </center>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<div class="center" style="text-align: center;"><a href="javascript:scroll(0, $('#spc').offset().top - 20);"><br /> <img alt="" src="https://access.revolutiongolf.com/images/default-source/buttons/2014-order-now.png?sfvrsn=4" /></a></div>
							<div class="center"></div>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<p style="float: left;"><em>To a Lifetime of Great Golf&hellip;<br /><img style="padding: 10px 30px;" src="https://access.revolutiongolf.com/images/people/justin-tupper-profile-pic-square.jpg?sfvrsn=2" title="justin-tupper-profile-pic-square" /><br /> </em></p>
							<p><img src="https://access.revolutiongolf.com/images/web-page-elements/justin-tupper-signature.png?sfvrsn=2" title="justin-tupper-signature" /></p>
							<p><strong>Justin Tupper</strong><br />
								Founder and CEO<br />
								Revolution Golf
							</p>
							<p style="clear: both;"><strong>P.S.</strong><span style="line-height: 1.5;">Before meeting Sean Foley, I was hitting the ball so badly, I almost gave up the game completely.</span></p>
							Fortunately, I discovered Sean Foley&rsquo;s driving secrets.<br /> <br />
							You can discover them too in <strong>Sean Foley on Driving The Ball.</strong><br /> <br />
							And we&rsquo;re making it available at a special low price. Just click the button below.<br /> <br />
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<center> <img src="https://access.revolutiongolf.com/images/default-source/special-offers/sean-foley-on-driving-the-ball-price.jpg?sfvrsn=0" title="sean-foley-on-driving-the-ball-price" style="vertical-align: middle;" /> </center>
						</div>
					</div>
					<div class='sfContentBlock'>
						<div class="post_vsl">
							<div class="center"><br /> </div>
							<div class="center" style="text-align: center;"><a href="javascript:scroll(0, $('#spc').offset().top - 20);" ><img alt="" src="https://access.revolutiongolf.com/images/default-source/buttons/2014-order-now.png?sfvrsn=4" /></a></div>
							<div class="center"></div>
						</div>
					</div>
					
					<div class="call_now" style="padding: 20px 210px; position: relative; top: 0px;" id="phone_number">
							<img alt="" src="//coaches.revolutiongolf.com/images/order_by_phone_banner_4dcm.jpg" />
						</div>
					</div>
						
						
						
						
						
					<!-- End Content Area -->
                        <div style="width: 100%;">
                            <a name="ordernow"></a>
                            <div id="spc">
								<form id="secure_opp_form">
                                <div id="secure_form">
                                    <img alt="" src="//coaches.revolutiongolf.com/images/secure_form.png" />
                                </div>
                                <div id="guarantee_seal" style="padding: 10px 0px;">
                                    <img alt="" src="//coaches.revolutiongolf.com/images/365_guarantee.png" />
                                </div>
                                <div id="product_desc" style="padding: 14px 0px;">
                                    <div id="radio_btn" style="float: left; width: 30px; margin: -7px auto 10px; padding: 0px 0px 0px 8px;" name="radio_btn">
                                        <input type="radio" checked="checked" />
                                    </div>
                                    <div id="product_radio_desc" style="text-align: left;">
                                        <strong>YES!</strong> I Want <strong>Sean Foley on Driving The Ball</strong>,
                                        <br />
                                        <strong>TODAY ONLY</strong>, for Just <span style="font-style: italic; font-weight: bold;">$17</span> -
                                        <span style="text-decoration: underline; font-weight: bold;">100% Risk-Free!</span>
                                    </div>
                                </div>
                                <link href="https://store.revolutiongolf.com/Themes/RevolutionGolf/Content/bootstrap-3.0.1-dist/dist/css/bootstrap-custom.min.css" type="text/css" rel="stylesheet" />
                                <div style="clear: both;"></div>
                                <div id="checkoutForm" style="position: relative;">



                                <!-- ************************************************************************************************** -->
                                <!-- ************************************************************************************************** -->
                                    <!-- start currency banner -->
                                    <div id="currency_converter" style="display: none; position: absolute; top: -137px; right: -205px; width: 202px; height: 87px; line-height: 71px; font-size: 24px; color: #ffffff; font-weight: bold; background: url('https://tourstrikertraining.revolutiongolf.com/images/default-source/tour-striker-training-program/exchange_rate_background.png') 0px 0px no-repeat;">
                                        54,77 &euro; EUR*
                                    </div>
                                    <!-- end currency banner -->
                                    <input type="hidden" data-bind="value: viewModel.selectedPaymentMethod" name="selectedPaymentMethod" id="selectedPaymentMethod" />
                                    <input type="hidden" data-bind="    value: viewModel.currentStep" name="checkoutStep" />
                                    <input type="hidden" data-bind="    value: viewModel.customerInfo.customerGuid" name="customerInfoCustomerGuid" />
                                    <input type="hidden" data-bind="    value: viewModel.shippingAddressEnabled" name="shippingRequired" />
                                    <div data-bind="foreach: viewModel.errors">
                                        <div><span data-bind="text: message" class="error"></span></div>
                                    </div>
                                    <div id="billingAddress">
                                        <div>
                                            <h2>Billing Contact Information</h2>
                                            <div id="first_name" class="form_input" style="position: relative; text-align: left; padding: 8px 54px;">
						<div style="padding: 0; margin: 0;">
                                                <label style="position: relative; top: 1px; left: 0px;" class="legacy">First Name</label>
                                                <input style="position: relative; top: 0px; left: 0px; margin: 0px; width: 170px;" type="text" placeholder="First Name" data-bind="value: viewModel.billingAddress.firstName" id="billingAddressFirstName" name="billingAddressFirstName" maxlength="100" />
						</div>
						<div class="input_override" style="padding: 0; padding-top: 6px; margin: 0;">
                                                <label style="position: absolute; top: 8px; left: 235px;" class="legacy">Last Name</label>
                                                <input style="position: absolute; top: 26px; left: 235px; width: 170px;" type="text" placeholder="Last Name" data-bind="    value: viewModel.billingAddress.lastName" id="billingAddressLastName" name="billingAddressLastName" maxlength="100" />
						</div>
                                            </div>
					<div style="padding: 0; margin: 0;">
                                            <div class="form_input">
                                                <label class="legacy">Email Address</label>
                                                <input type="email" placeholder="Email Address" data-bind="value: viewModel.billingAddress.emailAddress" id="billingAddressEmailAddress" name="billingAddressEmailAddress" maxlength="255" />
                                            </div>
					</div>
                                            <div class="form_input">
                                                <label class="legacy">Phone Number</label>
                                                <input type="text" placeholder="Phone Number" data-bind="value: viewModel.billingAddress.phoneNumber" id="billingAddressPhoneNumber" name="billingAddressPhoneNumber" maxlength="25" />
                                            </div>
                                        </div>
                                        <div>
                                            <h2>Billing Address</h2>
                                            <div class="form_input">
                                                <label class="legacy">Address</label>
                                                <input type="text" placeholder="Address Line 1" data-bind="value: viewModel.billingAddress.addressLine1" id="billingAddressLine1" name="billingAddressLine1" maxlength="255" />
                                            </div>
                                            <div style="display: none;" class="form_input">
                                                <label class="legacy">Address Line 2:</label>
                                                <input type="text" placeholder="Address Line 2" data-bind="value: viewModel.billingAddress.addressLine2" id="billingAddressLine2" name="billingAddressLine2" maxlength="255" />
                                            </div>
                                            <div class="form_input">
                                                <label class="legacy">City</label>
                                                <input type="text" placeholder="City" data-bind="value: viewModel.billingAddress.city" id="billingAddressCity" name="billingAddressCity" maxlength="255" />
                                            </div>
                                            <div class="form_input">
                                                <label class="legacy">State or Province</label>
                                                <select data-bind="value: viewModel.billingAddress.stateProvinceId, options: viewModel.billingAddress.stateProvinces, optionsText: 'name', optionsValue: 'value', optionsCaption: 'Select State or Province', disable: viewModel.billingAddress.stateProvincesDisabled" id="billingAddressStateProvinceId" name="billingAddressStateProvinceId"></select>
                                            </div>
                                            <div class="form_input">
                                                <label class="legacy">Zip/Postal Code</label>
                                                <input type="text" placeholder="Zip or Postal Code" data-bind="value: viewModel.billingAddress.postalCode" id="billingAddressPostalCode" name="billingAddressPostalCode" maxlength="25" />
                                            </div>
                                            <div class="form_input">
                                                <label class="legacy">Country</label>
                                                <select data-bind="value: viewModel.billingAddress.countryId, options: viewModel.billingAddress.countries, optionsText: 'name', optionsValue: 'value', optionsCaption: 'Select Country', event: { change: onBillingAddressCountryChange }" id="billingAddressCountryId" name="billingAddressCountryId"></select>
                                            </div>
                                        </div>
                                        <div id="billingInfo">
                                            <h2>Payment Information</h2>
                                            <img alt="" style="padding: 8px 0px 0px;" src="//coaches.revolutiongolf.com/images/credit-cards-new.png" />
                                            <div class="form_input" style="display: none;">
                                                <label class="legacy">Name on Card:</label>
                                                <input type="text" placeholder="Name on Card" data-bind="value: viewModel.billingInfo.cardholderName" id="billingInfoCardholderName" name="billingInfoCardholderName" maxlength="255" />
                                            </div>
                                            <div class="form_input">
                                                <label class="legacy">Card Number</label>
                                                <input type="text" placeholder="Card Number" data-bind="value: viewModel.billingInfo.cardNumber" id="billingInfoCardNumber" class="inspectletIgnore" name="billingInfoCardNumber" maxlength="25" />
                                            </div>
                                            <div id="exp_month" class="form_input">
						<div class="input_override" style="padding: 0px; margin: 0px;">
                                                <label class="legacy">Exp. Month</label>
                                                <select style="width: 130px; padding: 6px 3px;" data-bind="value: viewModel.billingInfo.expirationMonth" id="billingInfoExpirationMonth" name="billingInfoExpirationMonth">
                                                    <option value="0">Month</option>
                                                    <option value="1">1 - January</option>
                                                    <option value="2">2 - February</option>
                                                    <option value="3">3 - March</option>
                                                    <option value="4">4 - April</option>
                                                    <option value="5">5 - May</option>
                                                    <option value="6">6 - June</option>
                                                    <option value="7">7 - July</option>
                                                    <option value="8">8 - August</option>
                                                    <option value="9">9 - September</option>
                                                    <option value="10">10 - October</option>
                                                    <option value="11">11 - November</option>
                                                    <option value="12">12 - December</option>
                                                </select>
						</div>
                                                <div class="input_override" style="padding: 0px; margin: 0px;">
						<label class="legacy" style="position: absolute; top: 6px; left: 195px;">Exp. Year</label>
                                                <select style="width: 95px; padding: 6px 3px; position: absolute; top: 24px; left: 195px;" data-bind="value: viewModel.billingInfo.expirationYear" id="billingInfoExpirationYear" name="billingInfoExpirationYear">
                                                    <option value="0">Year</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                </select>
						</div>
						 <div class="input_override" style="padding: 0px; margin: 0px;">
                                                <label class="legacy" style="position: absolute; top: 6px; left: 300px;">Security Code</label>
                                                <input class="inspectletIgnore" style="width: 106px; position: absolute; top: 24px; left: 300px;" type="text" data-bind="value: viewModel.billingInfo.cvv" placeholder="CVV" id="billingInfoCvv" name="billingInfoCvv" maxlength="10" />
                                        </div>   
					 </div>
                                            <div id="payment_buttons" data-bind="visible: !viewModel.busy()">
                                                <div id="paymentMethodOptions" style="padding: 20px 0px 30px;"><span style="display: inline-block; font-size: 14px; position: relative; top: -8px;">Or Checkout with PayPal&nbsp;&nbsp;&mdash;&nbsp;&nbsp;</span>
                                                    <img alt="" style="padding-top: 3px; position: relative; top: -9px; cursor: pointer;" src="https://store.revolutiongolf.com/Themes/RevolutionGolf/Content/images/express-checkout-hero-c2.png" id="btnPayPal" data-bind="click: viewModel.selectPayPal" />
                                                </div>
                                                <button data-bind="click: viewModel.selectCreditCard" id="billingInfoProceed" style="cursor: pointer;">
                                                    <img alt="" src="//coaches.revolutiongolf.com/images/nextstep_access.png" /></button>
                                            </div>
                                            <div data-bind="visible: viewModel.busy" id="processingWheel" style="padding: 20px 0px 0px;">
                                                <img width="24" height="24" alt="ajax-loader" src="//coaches.revolutiongolf.com/images/ajax-loader.gif" />
                                            </div>
                                            <img alt="" class="non-mobile" style="padding: 12px 10px 0px;" src="https://coaches.revolutiongolf.com/images/secure-seals.png" />
					<div style="text-align: center;" class="mobile">
					<img alt="" src="//coaches.revolutiongolf.com/andrew-rice/images/secure-seals1.png" />
					<img alt="" style="padding-top: 5px;" src="//coaches.revolutiongolf.com/andrew-rice/images/secure-seals2.png" />
					</div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="visible: showOrderSummary" id="orderSummary">
                                    <section>
                                        <h2>Order Summary:</h2>
                                        <div data-bind="foreach: viewModel.orderSummary.orderItems" class="productBox">
                                            <div>
                                                <div><span data-bind="text: productName" class="productName medText"></span><span data-bind="    text: variantName" class="variantName medText"></span><span class="medText">-</span> <span class="cost medText">$</span> <span data-bind="    text: unitPrice" class="unitPrice medText"></span></div>
                                            </div>
                                            <div data-bind="foreach: bundledItems">
                                                <div style="margin-top: 25px; padding-left: 20px;"><span data-bind="text: productName" class="productName subMedText"></span><span data-bind="    text: variantName" class="variantName subMedText"></span><span class="included subMedText"><em>Included</em></span> </div>
                                            </div>
                                        </div>
                                        <table align="right">
                                            <tbody>
                                                <tr>
                                                    <td align="right"><span class="medText">Subtotal: </span></td>
                                                    <td><span class="medText">$</span> <span data-bind="text: viewModel.orderSummary.orderSubtotal" id="orderSubtotal" class="medText"></span></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><span>Shipping: </span></td>
                                                    <td><span>$</span> <span data-bind="text: viewModel.orderSummary.orderShipping" id="orderShipping"></span></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><span>Tax: </span></td>
                                                    <td><span>$</span> <span data-bind="text: viewModel.orderSummary.orderTax" id="orderTax"></span></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><span class="medText bold">Total: </span></td>
                                                    <td><span class="medText bold">$ </span><span data-bind="text: viewModel.orderSummary.orderTotal" id="orderTotal" class="medText"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="clear: both; height: 25px;"></div>
                                        <ul class="buttonList">
                                            <li><a data-bind="click: onNavigateBack" href="javascript:void(0)">
                                                <img src="//coaches.revolutiongolf.com/images/back_button_short.png" alt="back" /></a></li>
                                            <li>
                                                <button data-bind="click: viewModel.onCheckoutSubmit">
                                                    <img alt="" src="//coaches.revolutiongolf.com/images/nextstep_access.png" /></button></li>
                                        </ul>
                                    </section>
                                </div>
								</form>
                            </div>
                        <div style="clear: both; padding-top: 20px;"></div>
                        <!-- end checkoutProgressBox -->
                        <div style="clear: both;"></div>
                    </div>
                </div>

                <br />
                <div style="display: none; clear: both; margin: 50px auto; text-align: center;" id="pausedNote">
                    <h2>Don't Have Time To Watch This Stroke Slashing Solution Right Now?</h2>
                    <h4>Click The Video To Continue Watching Or <a href="javascript:skip_video();">Click Here For The <em>Fast Track</em> Version</a></h4>
                </div>
				


                <div class="ei_bg_overlay" style="display: none;"></div>
                
                <div class="ei_modal_wrapper" id="keep_watching_1" style="display: none;">
                    <div class="ei_modal ">
                        <div class="ei_close" onclick="exitIntentClose('keep watching 1');">&times;</div>
                        <div class="ei_content">
                            <div class="ei_header">
                                WAIT!!! &nbsp; Before you go...
                            </div>
                            <div class="ei_header_2">
                                You have a one-time special offer
                                <br />
                                waiting for you at the end of this video!
                            </div>
                        </div>
                        <!-- end of ei_content -->
                        <div style="margin: 42px auto;"><a href="#" onclick="exitIntentNext('watch','watch btn'); return false;">
                            <img alt="Keep Watching" src="//coaches.revolutiongolf.com/images/keep_watching.png" style="border-style: solid;" /></a> </div>
                        <div><a href="#" onclick="exitIntentNext('keep_watching_2','watch: no thanks'); return false;">No Thanks, I'm not Interested</a> </div>
                    </div>
                    <!-- end of ei_modal -->
                </div>
                <!-- end of ei_modal_wrapper -->
                <div class="ei_modal_wrapper" id="keep_watching_2" style="display: none;">
                    <div class="ei_modal ">
                        <div class="ei_close" onclick="exitIntentClose('keep watching 2');">&times;</div>
                        <div class="ei_content">
                            <div class="ei_header">
                                Are you sure?
                            </div>
                            <div class="ei_header_2">
                                (If you don't have time to watch
                                <br />
                                this video right now...)
                            </div>
                        </div>
                        <!-- end of ei_content -->
                        <div style="margin: 42px auto;"><a href="#" onclick="exitIntentNext('summary','keep watching summary'); return false;">
                            <img alt="Click to See the Summary" src="//coaches.revolutiongolf.com/images/click_to_see_summary.png" style="border-style: solid;" /></a> </div>
                        <div><a href="#" onclick="exitIntentNext('done','watch-summary: no thanks'); return false;">No Thanks, I'm not Interested</a> </div>
                    </div>
                    <!-- end of ei_modal -->
                </div>
                <!-- end of ei_modal_wrapper -->

            </div>
<div style="clear: both;"></div>

    <!-- Hardcoded Begin -->
    <div id="footer">
        <div id="innerFooter">
            <div id="footerMenu">
                <nav class="nav">
                    <ul class="nav-list">
                        <li><a href="https://www.revolutiongolf.com/@rg/standard-pages/about-rg" target="_blank">About</a></li>
                        <li><a href="https://www.revolutiongolf.com/@rg/contact-us" target="_blank">Contact Us</a></li>
                        <li><a href="https://www.revolutiongolf.com/@rg/faq" target="_blank">FAQ</a></li>
                        <li><a href="https://www.revolutiongolf.com/@rg/terms-of-service" target="_blank">Terms Of Service</a></li>
                        <li><a href="https://www.revolutiongolf.com/@rg/privacy-policy" target="_blank">Privacy Policy</a></li>
                    </ul>
                </nav>
            </div>
            <div id="copyRight">© 2015 RevolutionGolf.com</div>
        </div>
    </div>
    <!-- end #footer -->
    <div style="clear: both;"></div>

    </div><!-- end #wrapper -->
    <!-- Hardcoded End -->
    </div>

    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>
    <script src="//coaches.revolutiongolf.com/js/checkoutdata_oct_2014.js"></script>
    <script src="//coaches.revolutiongolf.com/js/checkout_1_page_opp.js?c=2"></script>
	

    <script type="text/javascript">
	
	function skip_video() {
		$("#pausedNote").hide();
		$("#mainProgressBar").hide();
		$('#buyNow').show();
		scroll(0, $('#buyNow').offset().top - 20);
		videoPlayerModule.pause();
		exitIntentSeen = true;
	}
	
	
/* ####### PAGE Javascript ########*/
var bcWorking = false;

$(document).ready(function(){
    if(typeof getQueryArgs()['opp'] != undefined)
    {
        if(getQueryArgs()['opp'] == 1)
        {
            PreventExitSplash = "true";
            $("#pausedNote").hide();
            $("#buyNow").fadeIn('slow',buyButtonVisibleToggle('buy'));
            $("#mainProgressBar").hide();
        }
    }
	setTimeout(function(){
		if(bcWorking === false)
		{
            $("img").trigger('unveil');
			PreventExitSplash = "true";
            $("#pausedNote").hide();
            $("#buyNow").fadeIn('slow');
            $("#mainProgressBar").hide();
			//tell GA what you did
            if (typeof dataLayer != 'undefined') {
                dataLayer.push({
                    'event': 'sendVPV',
                    'vpv': window.location.pathname + '/bc-failed'
                });
            }
		}
	},360000); //6 minutes
	
	setTimeout(function(){
		var bcAPI = 'no status';
		if(typeof player == 'undefined')
		{
			//player is undefined
			bcAPI = 'not working';
		}
		else 
		{
			bcAPI = 'working';
		}
            
		//tell GA
		if (typeof dataLayer != 'undefined') {
			dataLayer.push({
				'event': 'sendEvent',
				'eCategory': 'BrightCove',
				'eAction': 'VSL Status',
				'eLabel': bcAPI
			});
		}
	},180000); //3 minutes
});

function getQueryArgs() {
    // get the current URL
    var url = window.location.toString();
    //get the parameters
    url.match(/\?(.+)$/);
    var params = RegExp.$1;
    // split up the query string and store in an
    // associative array
    params = params.split("&");
    var queryStringList = {};

    for (var i = 0; i < params.length; i++) {
        var tmp = params[i].split("=");
        queryStringList[tmp[0]] = unescape(tmp[1]);
    }

    // print all querystring in key value pairs
    return queryStringList;
}


function redirectToCart() {
    var queryArgs = getQueryArgs();
    var pvid = queryArgs['pvid'];
    if (pvid === "" || pvid === undefined) {
        pvid = "1414";
    }
    var url = "https://store.revolutiongolf.com/SpecialOffer/ProductVariant?email=" + queryArgs['email'] + "&id=" + pvid;
    window.open(url);
}

function getUrl(url) {
    var pvid = getQueryArgs()['pvid'];
    if (pvid === "" || pvid === undefined) {
        pvid = "1414";
    }
    return url + '?email=' + getQueryArgs()['email'] + '&pvid=' + pvid;
}

function getSummaryPage(url) {
    //var pvid = getQueryArgs()['pvid'];
    //if( pvid == "" || pvid == undefined){pvid="767";}
    return url + '?email=' + getQueryArgs()['email'] + '&pvid=1414';
}

function redirectToNext(url) {
    disableExitPop = true;
    var newurl = url + '?email=' + getQueryArgs()['email'] + '&pvid=1414';
    window.location.href = newurl;
}

navigator.sayswho = (function() {
    var ua = navigator.userAgent,
        tem,
        M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*([\d\.]+)/i) || [];
    if (/trident/i.test(M[1])) {
        tem = /\brv[ :]+(\d+(\.\d+)?)/g.exec(ua) || [];
        return 'IE ' + (tem[1] || '');
    }
    M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
    if ((tem = ua.match(/version\/([\.\d]+)/i)) !== null) M[2] = tem[1];
    return M;
});


    function setProgress() {
        var imageSources = null;
        var srcUrl = '//coaches.revolutiongolf.com/images/process-panel-';
        if (viewModel.shippingAddressEnabled()) {
            srcUrl += 'physical-';
            imageSource = {
                billingAddress: srcUrl + 's1.png',
                shippingAddress: srcUrl + 's2.png',
                billingInfo: srcUrl + 's3.png',
                orderSummary: srcUrl + 's4.png',
                confirmOrder: srcUrl + 's5.png'
            };

        } else {
            srcUrl += 'digital-';
            imageSource = {
                billingAddress: srcUrl + 's1-nos.png',
                billingInfo: srcUrl + 's2-nos.png',
                orderSummary: srcUrl + 's3-nos.png',
                confirmOrder: srcUrl + 's4-nos.png'
            };
        }
        $('#progressBar').attr('src', imageSource[viewModel.currentStep()]);
    }

    function onStepChanged(step) {
        switch (step) {
            case 'billingAddress':
                onBillingAddress();
                break;
            case 'shippingAddress':
                onShippingAddress();
                break;
            case 'billingInfo':
                onBillingInfo();
                break;
            case 'orderSummary':
                onOrderSummary();
                break;
            case 'confirmOrder':
                onConfirmOrder();
                if (typeof dataLayer != 'undefined') {
                    dataLayer.push({
                        'event': 'sendVPV',
                        'vpv': window.location.pathname + '/OPP_' + step
                    });
                }
                break;
            default:
                break;
        }
        //       engagementLevel = 'Started OPP';
        //       upsertEl(engagementLevel);
        setProgress();
        //scroll(0,$('#checkoutForm').offset().top - 315);
    }

    function onBillingAddress() {

        $(document).scrollTop($('#billingAddress').position().top - 100);
    }

    function onShippingAddress() {

        $(document).scrollTop($('#shippingAddress').position().top - 100);
    }

    function onBillingInfo() {

        $(document).scrollTop($('#billingInfo').position().top - 180);
    }

    function onOrderSummary() {

        $(document).scrollTop($('#orderSummary').position().top - 100);
    }

    function onConfirmOrder() {
        disableExitPop = true;
        PreventExitSplash = true;
    }

    function onCheckoutInitialized(e) {
        var br = navigator.sayswho();
        if (br[0] == 'MSIE') {
            if (Number(br[1]) < 10)
                $('label.legacy').show();
        }
        setProgress();
    }


    var checkoutOptions = {
        checkoutBase: 'https://store.revolutiongolf.com/LandingCheckout',
        emailAddress: getQueryArgs()['email'],
        productVariantIds: getQueryArgs()['pvid'],
        showForm: false,
        showPaymentMethodOptions: false,
        showBillingAddress: true,
        showShippingAddress: false,
        shippingRequired: false,
        showBillingInfo: false,
        billingInfoRequired: true,
        onInitialized: onCheckoutInitialized
    };

    var viewModel = new ViewModel(checkoutOptions);

    $(function() {

        viewModel.currentStep.subscribe(onStepChanged, 'change');
        if (viewModel.shippingAddressEnabled())

            $('#billingAddressProceedButtonImage').attr('src', '//coaches.revolutiongolf.com/images/nextstep_shipment.png');

        else
            $('#billingAddressProceedButtonImage').attr('src', '//coaches.revolutiongolf.com/images/nextstep_payment.png');
    });


/* ### END PAGE JAVASCRIPT ### */


/* ######### Brightcove Video ######## */

var player;
var videoPlayerModule;
var experienceModule;
var cuePointsModule;
var currentVideo;
var APIModules;
var button;
var buyButtonVisible;
var pauseButtonVisible;
var showPause;
var PreventExitSplash = "false";
var playPauseBtn;
var videoOverlay;
var pauseActivated = "false";

function videoLoaded(id) {
    player = brightcove.api.getExperience(id);
    APIModules = brightcove.api.modules.APIModules;
    //console.log("videoloaded");
}

function onTemplateReady(event) {
    videoPlayerModule = player.getModule(APIModules.VIDEO_PLAYER);
    cuePointsModule = player.getModule(APIModules.CUE_POINTS);
    cuePointsModule.addEventListener(brightcove.api.events.CuePointEvent.CUE, onCue);        
    videoPlayerModule.addEventListener(brightcove.api.events.MediaEvent.STOP, onMediaEventFired);
    videoPlayerModule.getCurrentVideo(onGetCurrentVideoResult);    
 
    var videoPlayerWait = parseFloat((Date.now() - pageLoadStart) / 1000).toFixed(1) + " Sec";
    if (logToGa) {
        logToGa("Video Start", videoPlayerWait);
    }
}

function onGetCurrentVideoResult(video) {
    currentVideo = video;
    //cuePointsModule.getCuePoints(currentVideo.id);
    cuePointsModule.getCuePoints(currentVideo.id, cuePointsHandler);
}

function cuePointsHandler(cuePoints) {
    // Display existing cue points
    //displayExistingCuePoints(cuePoints);
}

function onMediaEventFired() {
    //pauseActivated == "true"
    showButton();
    //console.log("onMediaEventFired");
}

function buyButtonVisibleToggle(button) {
    if (button == "pause") {
        pauseButtonVisible = "true";
    }
    if (button == "buy") {
        buyButtonVisible = "true";
    }
}

function showButton() {
    if (buyButtonVisible != "true" && pauseButtonVisible != "true" && pauseActivated == "true") {
        //pauseButtonVisible="true";
        PreventExitSplash = "true";
        $("#pausedNote").fadeIn('slow', buyButtonVisibleToggle("pause"));
        $('html,body').animate({
            scrollTop: $("#pausedNote").offset().top - 300
        }, 'slow');
    } else if (buyButtonVisible != "true" && pauseButtonVisible == "true") {
        //pauseButtonVisible="false";
        PreventExitSplash = "true";
        disableExitPop = true;
        //$("#pausedNote").hide();
        $('html,body').animate({
            scrollTop: $("#myExperience").offset().top - 25
        }, 'slow');
    } else if (buyButtonVisible == "true" && pauseButtonVisible == "true") {
        $("#pausedNote").hide();
        PreventExitSplash = "true";
        disableExitPop = true;
        $('html,body').animate({
            scrollTop: $("#buyNow").offset().top - 300
        }, 'slow');
    } else {
        return;
    }
}

function onCue(event) {

    var theCue = event.cuePoint.name;
    if (theCue !== undefined) {
        //console.log(theCue);
        switch (theCue) {
            case "Show Hidden Page Element":
				bcWorking = true;
                PreventExitSplash = "true";
                $("#pausedNote").hide();
                $("#mainProgressBar").hide();
                $("#buyNow").fadeIn('slow', buyButtonVisibleToggle('buy'));
                if (typeof dataLayer != 'undefined') {
                    dataLayer.push({
                        'event': 'sendVPV',
                        'vpv': window.location.pathname + '/OPP-visible'
                    });
                }
                engagementLevel = 'Finished VSL';
                upsertEl(engagementLevel);
				exitIntentSeen = true;
                break;

            case "Product Intro":
				bcWorking = true;
                if (typeof dataLayer != 'undefined') {
                    dataLayer.push({
                        'event': 'sendVPV',
                        'vpv': window.location.pathname + '/VSL-product-intro'
                    });
                }
                engagementLevel = 'Saw Product Intro';
                upsertEl(engagementLevel);
                break;

            case "Pause Activation":
				bcWorking = true;
                $("img").trigger('unveil');
                //console.log("pauseActivated");
                pauseActivated = "true";
                break;

            case "Fix Viewed":
				bcWorking = true;
                engagementLevel = 'Saw Swing Fix';
                upsertEl(engagementLevel);
                break;

        }
    }
}
/* ######### Brightcove Video ######## */

/************ Engagement Level ************/
var eLevels = new Array(8);
eLevels[0] = 'Opt-In';
eLevels[1] = 'Saw Swing Fix';
eLevels[2] = 'Saw Product Intro';
eLevels[3] = 'Finished VSL';
eLevels[4] = 'Saw OPP';
eLevels[5] = 'Started OPP';
eLevels[6] = 'Purchased';
eLevels[7] = 'Purchased Upsell';

var engagementLevel = 'Opt-In';
var activeFocus = null;

$(document).ready(function() {
    //update engagement
    //upsertEl(engagementLevel);

    //update if OPP visible
    $(window).on("scroll", buyVisible);

    if (eLevels.indexOf(readCookie('el')) > 2) {
        PreventExitSplash = "true";
        $("#pausedNote").hide();
        $("#buyNow").fadeIn('slow', buyButtonVisibleToggle('buy'));
        $("#mainProgressBar").hide();
    }
});


function buyVisible() {
    var windowTop;
    var windowBottom;
    var elemTop;

    if ($('#checkoutForm').is(':visible')) {
        windowTop = $(window).scrollTop();
        windowBottom = windowTop - 0 + $(window).height();
        elemTop = $('#checkoutForm').offset().top;
        if (elemTop < windowBottom) {
            engagementLevel = 'Saw OPP';
            upsertEl(engagementLevel);
        }
    }
}

function upsertEl(eLevel) {
    var eUpdate = true;
    var curLevel = readCookie('el');
    var tURL = 'https://tourstrikertraining.revolutiongolf.com/api/Engagement/Level';
    var mURL = 'https://mcleangolf.revolutiongolf.com/api/Engagement/Level';
    var tURL = 'https://coaches.revolutiongolf.com/api/Engagement/Level';
    var uEmail = getQueryArgs()['email'];

    if (curLevel != 'null') {
        if (eLevels.indexOf(eLevel) <= eLevels.indexOf(curLevel)) {
            //don't update the engagement level
            eUpdate = false;
        }
    }
    if (eUpdate) {
        //keep engagement level for 12 days after furthest engagement
        createCookie('el', eLevel, 12);
        var gaFocus = '';

        if (eLevels.indexOf(eLevel) == 3) {
            activeFocus = document.hasFocus();
            gaFocus = ' Focused:' + activeFocus;
        }
        if (eLevels.indexOf(eLevel) == 5) {
            gaFocus = ' Was Focused:' + activeFocus;
        }

        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'Engagement',
                'eAction': 'Level',
                'eLabel': eLevel + gaFocus + ' B'
            });
        }

        $.ajax({
            url: tURL,
            type: "POST",
            data: {
                Email: uEmail,
                Engagementlevel: eLevel
            },
            dataType: "json"
        }).done(function(data) {
            if (data.success === true) {
                //everything worked
            } else {
                //all other scenarios are a failure, tell GA
                if (typeof dataLayer != 'undefined') {
                    dataLayer.push({
                        'event': 'sendEvent',
                        'eCategory': 'Engagement',
                        'eAction': 'Error',
                        'eLabel': 'Upsert Engagement Level Not Success'
                    });
                }
            }
        }).error(function() {
            if (typeof dataLayer != 'undefined') {
                dataLayer.push({
                    'event': 'sendEvent',
                    'eCategory': 'Engagement',
                    'eAction': 'Error',
                    'eLabel': 'Upsert Engagement Level Failed'
                });
            }
        });
    }
}

function createCookie(name, value, days) {
    var date, expires;
    if (days) {
        date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
    } else expires = "";
    document.cookie = name + "=" + value + expires + "; path=/";
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}

function eraseCookie(name) {
    createCookie(name, "", -1);
}
/************ End Engagement Level **************/


/************ Exit Intent ***************/
$(document).on('mouseleave', exitIntent);
var disableExitPop = false;
var exitIntentSeen = false;
var surveyShown = false;
var keepWatchingShown = false;
var cartAbandonmentShown = false;

function exitIntent(e) {
    //if the user exits the top of the screen, show popup
    if (e.clientY < 10) {
        exitIntentShow();
    }
}

function exitIntentShow() {
    var eLevel = readCookie('el');
    var exitShown = 'default';
    if ( keepWatchingShown === false && exitIntentSeen === false) {
        $('.BrightcoveExperience').css('visibility', 'hidden');
        $('.ei_bg_overlay').show();
        $('#keep_watching_1').show(400, 'swing');
        exitShown = 'keep watching';
        keepWatchingShown = true;
        exitIntentSeen = true;
        videoPlayerModule.pause();
    } else {
        if (exitIntentSeen === false) {
            $('.BrightcoveExperience').css('visibility', 'hidden');
            $('.ei_bg_overlay').show();
            $('#keep_watching_1').show(400, 'swing');
            exitShown = 'default:keep watching';
            exitIntentSeen = true;
            videoPlayerModule.pause();
        }
    }
    //tell GA
    if (typeof dataLayer != 'undefined') {
        dataLayer.push({
            'event': 'sendEvent',
            'eCategory': 'VSL',
            'eAction': 'Exit Pop',
            'eLabel': exitShown + ' Shown ' + eLevel
        });
    }
}

function exitIntentClose() {
    $('.BrightcoveExperience').css('visibility', 'visible');
    $('.ei_bg_overlay').hide();
    $('.ei_modal_wrapper').hide();
    videoPlayerModule.pause(false);
    var eLevel = readCookie('el');
    //tell GA
    if (typeof dataLayer != 'undefined') {
        dataLayer.push({
            'event': 'sendEvent',
            'eCategory': 'VSL',
            'eAction': 'Exit Pop',
            'eLabel': 'X Closed ' + eLevel
        });
    }
    return false;
}

function exitIntentNext(nextStep, clickLabel) {
    var eLevel = readCookie('el');
    if (nextStep == 'summary') {
        //show summary page
		skip_video();
        $('.BrightcoveExperience').css('visibility', 'visible');
        $('.ei_bg_overlay').hide();
        $('.ei_modal_wrapper').hide();
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': 'summary ' + clickLabel + ' ' + eLevel
            });
        }
    } else if (nextStep == 'watch') {
        //keep watching
        $('.BrightcoveExperience').css('visibility', 'visible');
        $('.ei_bg_overlay').hide();
        $('.ei_modal_wrapper').hide();
        videoPlayerModule.pause(false);
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': clickLabel + ' ' + eLevel
            });
        }
    } else if (nextStep == 'keep_watching_2') {
        //show keep_watching_2
        $('.ei_modal_wrapper').hide();
        $('#keep_watching_2').show(400, 'swing');
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': clickLabel + ' ' + eLevel
            });
        }
    } else if (nextStep == 'show_form') {
        //scroll to the OPP form
        $('.BrightcoveExperience').css('visibility', 'visible');
        $('.ei_bg_overlay').hide();
        $('.ei_modal_wrapper').hide();
        scroll(0, $('#spc').offset().top - 20);
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': clickLabel + ' ' + eLevel
            });
        }
    } else if (nextStep == 'done') {
        //close the popup
        $('.BrightcoveExperience').css('visibility', 'visible');
        $('.ei_bg_overlay').hide();
        $('.ei_modal_wrapper').hide();
        videoPlayerModule.pause(false);
        if (typeof dataLayer != 'undefined') {
            dataLayer.push({
                'event': 'sendEvent',
                'eCategory': 'VSL',
                'eAction': 'Next Step',
                'eLabel': clickLabel + ' ' + eLevel
            });
        }
    }
    return false;
}
/************ End Exit Intent ***************/


	
	
        var logToGa = function (action, label) {
            action = typeof action !== 'undefined' ? action : 'Error';
            label = typeof label !== 'undefined' ? label : 'Something happened somewhere';
            if (typeof dataLayer !== undefined) {
                //console.log("action: " + action + " label:" + label);
                dataLayer.push({
                    'event': 'sendEvent',
                    'eCategory': 'VSL',
                    'eAction': action,
                    'eLabel': label
                });
            }
        };
        var timingInfo = performance.timing;
        window.onload = function () {
            setTimeout(function () {
                logToGa("TimingAPI Page Load", parseFloat((timingInfo.loadEventEnd - timingInfo.responseEnd) / 1000).toFixed(1) + " Sec");
                logToGa("Page Load", parseFloat((Date.now() - pageLoadStart) / 1000).toFixed(1) + " Sec");
                logToGa("Network Latency", parseFloat((timingInfo.responseEnd - timingInfo.fetchStart) / 1000).toFixed(1) + " Sec");
            }, 0);
        }
        var pageLoadWait = parseFloat((Date.now() - pageLoadStart) / 1000).toFixed(1) + " Sec";
        logToGa("Page Bottom", pageLoadWait);
    </script>

</body>
</html>

